[2018-10-05 06:29] tuexen commented on #264
@weinrank Have a look at the download link above.

@Sadrieh The problem with fragmented packets is most likely a byte ordering problem when setting `ip->ip_off` in `sctp_output.c`. I'm not sure which code path your code currently used (the one with `htons()` or without), but please try the other.

[2018-10-07 23:47] #261 closed

[2018-10-11 09:45] gabm opened #265 "Ephemeral Port for UDP encapsulation"
Is there a way to bind the udp encapsulation port to an ephemeral port? Usually we use 0 to do that but https://github.com/sctplab/usrsctp/blob/master/Manual.md#usrsctp_init defines 0 to mean "no encapsulation"?!

[2018-10-11 19:40] tuexen commented on #265
There is currently no way to do that. I'm also not sure why you would want that...

[2018-10-11 19:43] gabm commented on #265
Thanks for your answer.. I already thought so..

Well if you have multiple applications on the same host that want to communicate with SCTP over UDP, how would you do that without pre-assigning UDP ports for each application?

[2018-10-11 21:09] gabm commented on #265
Just to make sure I understand correctly: I have to embed one stack into each (server) application since there is no straight-forward way to share as single stack between multiple applications and each server with its own stack would bind to a different UDP port for encapsulation.

[2018-10-15 05:02] Sadrieh commented on #264
Thanks a lot @tuexen. It worked for me. Please find the more recent diff as attahced to this comment.
[diff_sctp.txt](https://github.com/sctplab/usrsctp/files/2477454/diff_sctp.txt)

[2018-10-17 14:40] sancane opened #266 "Crash in sctp_indata.c"
Stack trace:
#1 0x00007fc044b57b1d in sctp_handle_old_unordered_data (stcb=0x7fbf8805d550, asoc=0x7fbf8805d5a8, strm=0x7fc0481ba4c0, control=0xffffffffffffffff, pd_point=65536, inp_read_lock_held=0) at netinet/sctp_indata.c:826
#2 0x00007fc044b58c04 in sctp_deliver_reasm_check (stcb=0x7fbf8805d550, asoc=0x7fbf8805d5a8, strm=0x7fc0481ba4c0, inp_read_lock_held=0) at netinet/sctp_indata.c:1096
#3 0x0

[2018-10-17 16:11] tuexen commented on #266
Which platform is this on? Any way I could reproduce it?

[2018-10-18 12:11] sancane commented on #266
It's Linux Centos, Unfortunatelyt I am unable to reproduce it. This is a trace I got from a server I have in prod, in fact this is the first time I've seen sctp crash this way.

[2018-10-18 12:13] tuexen commented on #266
Yeah, it looks strage... Normally is pointer is NULL instead of not being NULL. Here it is (void *)-1...
No idea how this could happen...

[2018-10-19 02:43] somtin opened #267 "Message is split into multiple receive_cb notifications when larger than 66356 bytes"
Hi,

When sending a message that is larger than 66356 bytes, I get multiple callbacks on the receive callback.

To reproduce, change BUFFER_SIZE in ekr_client to 66357 and run the server and client with:

[code]

Output of ekr_server shows the following:

[code]

Ideally we'd like to receive the callback for that packet containing the entire packet - is this possible? Otherwise the only solution w

[2018-10-19 09:06] lgrahl commented on #267
The usrsctp buffer has a fixed size, so in case your datagram is larger, it will always be split up into chunks. You are supposed to look at the `MSG_EOR` flag that tells you whether the datagram is complete. See also #188.

[2018-10-19 21:30] somtin commented on #267
Ah I see, was not aware of the MSG_EOR flag. Thanks for that!

[2018-10-19 21:30] #267 closed

[2018-10-20 04:50] Kiddinglife opened #268 "New Feature Needed for Latency Decrease"
when the packet sizes are small, an aggressive bundling scheme can help to reduce the application delay in 4g mobile network with high level of packet loss caused often by satellite transmission instead of real "congestion" . We can bundle of the first unacknowledged data.  If the lost packet is recovered very quickly when the next original packet is received without a re-transmission, we can try

[2018-10-21 09:25] guypaskar opened #269 "sctp in Tizen OS"
Hello,

It seems that the Chromium web engine in Tizen was taken without the sctp library and therefore webrtc datachannels can't use it. I was wondering if there's a way to add sctp via NaCl (like in here - https://developer.samsung.com/tv/develop/extension-libraries/nacl/overview)

Thanks

[2018-10-21 09:47] lgrahl commented on #269
You are probably aware that this would have to be embedded into an extension to Chromium. I would not recommend using NaCl here since that is deprecated in favour of WASM. Since this library is very much tied to OS APIs (sockets, files, ...), it will be ton of work before you would be able to compile it to WASM.

[2018-10-21 12:37] guypaskar commented on #269
Hello,
Thank you for the reply.
I'm not aware that nacl is deprecated in Tizen. In fact, I know that they plan to keep supporting it (as opposed to chrome who ditched it)

If I want to compile it to nacl, would it still be ton of work?

[2018-10-21 12:57] lgrahl commented on #269
In that case I guess it depends on whether the usual OS APIs are supported by NaCl. Easiest way to find out is to try and compile it for that. :slightly_smiling_face:
But I suspect that you will encounter problems very early. Even if you can get it to work at some point, you still need a data channel implementation, define API interfaces, etc. And once you're done with that, you still need to thro

[2018-10-21 15:11] guypaskar commented on #269
You are probably right :)

[2018-10-22 21:15] woongjin1204 opened #270 "How to avoid black hole issue"
Hello,

In multi homed environment(Two different LTE network: AT&T, T-Mobile), I'm trying to use usrsctp.
However when I open association, INIT chunk includes only one IP because of https://tools.ietf.org/html/draft-stewart-tsvwg-sctp-ipv4-00#ref-5 rule and I can have only one channel.
Isn't there any way to avoid this black hole issue? I don't want to use VPN.

Thank you.

[2018-10-23 11:51] sureshj814 opened #271 "Multihoming issues on Ubuntu"
Hi Tuexen and Others,

I am working on a Multihoming setup using "usrsctp" stack through UDP encapsulation.

Multihoming setup :

a) Client is having two IP addresses and Server is having a single IP address.
b) Clients are provided private IP addresses from two different ISPs
    ( say IP1 = 192.168.8.102 and IP2 = 192.168.42.48 ).
c) Server is having a Global IP address ( like 115.110.x.y ).
d)

[2018-10-24 19:27] AlexVeloso opened #272 "SCTP"
Dear,
I wanted to know if SCTP to support multiple paths to its peer endpoint still may be beneficial even when we have a single MODEM. As instance suppose my application wants to transmit via a single MODEM several independent streams of chunks in parallel such as transmitting image 1 together image 2. In this case, Is there any scenery where the SCTP with multiple paths could be more beneficial

[2018-11-01 09:18] Sadrieh commented on #264
Hi @tuexen, Me back again...
I'm facing a similar problem. When trying to connect from QNX machine to Linux machine using Echo_server and Client, I get **CheckSum** mismatch. But the only difference is the **endianness** of checksums. Got the logging enabled on both Client and Echo_server. See the attachment.  I have also attached a tcp_dump of this transaction (just change the extention from txt

[2018-11-01 09:33] tuexen commented on #264
Is your host byte order little or big endian?

[2018-11-01 10:41] tuexen commented on #264
I guess that `BYTE_ORDER`, `BIG_ENDIAN`, and `LITTLE_ENDIAN` are undefined. Then [sctp_crc32.c:562](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_crc32.c#L562), for example, assumes that your platform is big endian. If it is actually little endian, then you end up in the problem above.
Can you add appropriate defines to your build environment?

[2018-11-01 17:50] lgrahl commented on #272
What is a *modem*?

[2018-11-01 18:20] AlexVeloso commented on #272
Hi Lennart,

It is a Cellular MODEM.

Not sure if that helps.

Best Regards,

Alex Veloso, MSc
Sr. Telematics Architecture Engineer
GM North America Car Group
29427 Louis Chevrolet Rd. – Warren – MI – 48093-2350 – MI - USA
Warren Technical Center - VEC Podium  – Floor 01  - Office 1YA-LT08
Office:  +1 586 459 6052
Mobile: +1 586 429 6302
Skype Me<sip:alex.veloso@gm.com>| alex.veloso@gm.com<mailto:

[2018-11-01 18:52] lgrahl commented on #272
I don't have any data but it seems you want [Concurrent Multipath Transfer](https://github.com/sctplab/usrsctp/blob/master/Manual.md#concurrent-multipath-transfer-cmt).

[2018-11-01 19:02] lgrahl commented on #271
Disclaimer: I'm not an expert in this territory, so take this with a grain of salt.

1. IIRC the [spec says it's not a requirement for the implementation](https://tools.ietf.org/html/rfc4960#section-8.3) to do so. However, you should be able to [enable the heartbeat for an address](https://tools.ietf.org/html/rfc6458#section-8.1.12).
2. That might actually be a side effect of the above issue.
3. A

[2018-11-02 12:18] sureshj814 commented on #271
Thanks lgrahl for your inputs, Appreciate it.

[2018-11-09 03:52] nxrighthere opened #276 "MinGW support"
I see a bunch of pull requests related to MinGW support, but they are quite outdated. Any plans to support MinGW out of the box, please, to avoid headaches with digging the code?

[2018-11-09 08:14] tuexen commented on #276
I picked from the patches what I found generic improvements. I found contradicting change requests in different pull request and, since we are not windows experts, have no MinWG environment. If I remember it correctly, I think when we were looking around to set one up, we found that there are multiple ways of doing so and it wasn't clear which one to use.

Is there one MinGW environment we should

[2018-11-09 08:46] CoolmanCZ commented on #276
Hi,
I think that [Appveyor](https://www.appveyor.com) can be used to test windows version (at least for the building). It has an integration with GitHub.

[2018-11-09 09:54] nxrighthere commented on #276
Most people are using [this](https://sourceforge.net/projects/mingw-w64/) distribution.

It would be great if you can separate the code in the traditional way using directives like `#if defined(_WIN32) && defined(__GNUC__)` instead of `__MINGW32__` for better compatibility. Right now GCC throws a lot of errors. Some of them are quite easy to fix, but some are not, unfortunately.

Thanks for the su

[2018-11-09 10:01] CoolmanCZ commented on #276
If you are looking for mingw version of the usrsctp take a look at [my MinGW fork](https://github.com/CoolmanCZ/usrsctp). I've been trying to keep the source code updated with latest version of the usrsctp.

[2018-11-09 10:19] nxrighthere commented on #276
@CoolmanCZ Thanks! I've built debug version without any problems, but release throws some errors, unfortunately.

[2018-11-09 11:11] CoolmanCZ commented on #276
Hi, can you send me the command to build the release version?

[2018-11-09 11:17] nxrighthere commented on #276
You can set it right in the CMake:

![release](https://user-images.githubusercontent.com/8279330/48259771-e372fc80-e43a-11e8-9ab6-6fbf68131c5f.PNG)

[2018-11-09 11:42] CoolmanCZ commented on #276
OK, try fixed Mingw branch.

[2018-11-09 11:47] nxrighthere commented on #276
That was fast, thank you, it works. 😺

[2018-11-09 12:38] weinrank commented on #276
We already have a Windows buildbot with MinGW support, but we haven't used it yet.

I'll have a closer look at your branch during the next days and we'll check how to integrate it. 👍

[2018-11-15 22:30] woongjin1204 commented on #272
Our HW platform for this project is multi-homed Client and single-homed Server.
With this HW platform, How can we get CMT benefits in "Client to server uploading" use case?
If we turned on CMT in client side then can we have enhanced uploading throughput?

[2018-11-16 13:05] lgrahl commented on #272
I don't see a reason why it should not work.

[2018-11-20 09:45] weishuyin opened #279 "usrsctp_sysctl_set_sctp_strict_data_order is not defined"
I want to use ordered message delivery. As Manual.md says, I need to call usrsctp_sysctl_set_sctp_strict_data_order function. But this function is not defined.
    I found that this function is deleted by commit d1f18af6d513d5e4f89691ef609263d42a4f92d5 in May 12, 2016.
    So, how to config ordered or unordered message delivery?

[2018-11-20 15:49] woongjin1204 commented on #272
As updated to you we had used these two APIs on both client and server to see if CMT gets enabled .
The expectation was that both client IPs are used in parallel for data upload to server, but it was not happening.

#### usrsctp_sysctl_set_sctp_cmt_on_off()
To turn CMT on, this parameter has to be set to 1.

#### usrsctp_sysctl_set_sctp_buffer_splitting()
For CMT it makes sense to split the send a

[2018-11-20 21:09] tuexen commented on #279
That `systcl` variable only enforced that control chunk are located before data chunk. This is not related to order or unordered message delivery. Without specifying that you want unordered delivery, you get ordered delivery. So you don't have to do anything to get what you want.

[2018-11-21 08:20] tuexen commented on #279
Have a look at the Socket API specification: [sctp_sendv](https://tools.ietf.org/html/rfc6458#section-9.12). The corresponding function `usrsctp_sendv()` is similar.

[2018-11-21 13:43] lgrahl commented on #272
:man_shrugging: Not an area of usrsctp I have worked with. @tuexen may be able to shed some light on this.

[2018-11-22 03:33] weishuyin commented on #279
Thank you, the Socket API specification is very useful. Now I understand it.

[2018-11-22 03:33] #279 closed

[2018-11-23 02:07] feross commented on #245
Thank you for opening this issue. This has plagued users of my popular [`simple-peer`](https://github.com/feross/simple-peer) library and WebTorrent itself for a very long time, even leading Brave to disable WebRTC in their built-in torrent viewer extension which is powered by WebTorrent, preferring to just connect to traditional torrent peers. Keeping WebRTC connections turned on just uses too mu

[2018-11-23 13:29] lgrahl commented on #245
@feross Yeah, the main issue here is available resources (e.g. work hours). Perhaps we should also file this towards the bug trackers of Mozilla and Chrome to make them aware of it.

[2018-11-28 04:37] mikedilger opened #280 "SCTP messaging between two threads"
Is there any way to communicate over SCTP (over UDP) on localhost between two threads in the same program?  My use case is a test suite.  I'm wrapping usrsctp for the rust language.

I would presume the two threads would need to be working with different UDP encapsulation ports.  But I also presume `usrsctp_init()` is called only once and the structures are shared by all the threads, thus not havi

[2018-11-28 09:53] dlanie opened #281 "Compatibility with FreeBSD"
Hello,
I'm trying to setup usrsctp on a FreeBSD 11.2-Release system. However, when I run the echo_server and client from the example programs, the server always answers the INIT-Chunk with an ABORT.
Type: 6,
Chunk flags: 0x00
Zero error causes

I've tested this locally on a pc and on a local network, using the example programs as well as using my own programs. All combinations of these yielded the

[2018-11-28 10:00] weinrank commented on #281
You probably get an ABORT chunk because your (client) application talks to the FreeBSD kernel stack.
The kernel has no listening SCTP server and will respond with an ABORT.

If you're using the userland stack on a platform with native SCTP support, you should use UDP encapsulation to avoid this problem.

From the `echo_server` docs:
[code]

As an alternative, you can recompile the FreeBSD kernel w

[2018-11-28 10:20] dlanie commented on #281
That worked, thanks

[2018-11-28 10:20] #281 closed

[2018-11-29 18:02] Feffnator opened #282 "CMT support"
Hello,
I'm currently using CMT-SCTP in a very limited setup. Two endpoints are connected via two paths and are both sending messages constantly. If I look at my wireshark trace, I see some interesting things happening regarding the use of each path (see table):  While the endpoint that initiates the association (connector) equally distributes its SACKs across both parts, the DATA chunks are prefer

[2018-12-11 12:00] lxlenovostar opened #283 "How to count the retransmission packets?"
When we use usrsctp in [rawrtc](https://github.com/rawrtc/rawrtc), the sctp packet will  be encrypted by dtls. How to debug the state of stcp? For example, How to count the retransmission packets?

[2018-12-11 12:06] tuexen commented on #283
You can write out unencrypted SCTP packets by using `usrsctp_dumppacket()` and `usrsctp_freedumpbuffer()`. See `programs/ekr_loop.c` for an example.

[2018-12-12 13:07] lxlenovostar commented on #283
I‘m analysis sctp packet, Why so many `FF` in sctp packet? @lgrahl @tuexen

[code]

[2018-12-12 18:00] tuexen commented on #283
Your trace contains a couple of spaces, which shouldn't be there, and also line numbers, which shouldn't be there. After removing them, I get, something like
[code]
which I save in a file `sctp.log`.
Running `text2pcap -n -l 248 -D -t '%H:%M:%S.' ~/Desktop/sctp.log ~/Desktop/sctp.pcapng` converts this file into a `.pcapng` file, which is readable by packet analyzers like Wireshark.

Using Wireshar

[2018-12-13 08:50] lxlenovostar commented on #283
Thank you. @tuexen @lgrahl

[2018-12-13 08:50] #283 closed

[2018-12-18 18:04] velichkov commented on #280
Hi @mikedilger,

I just implemented a unit test for the application I'm working on, similar to what you've described above and it works.

I've used only one UDP port (the default 9899), called `usrsctp_init` only once, bind server to a port on all interface and called connect to the Server's SCTP port (no need to bind the client).

Here is excerpt from the `tshark  -i any -f "port 9899" -V` output

[2018-12-18 19:32] mikedilger commented on #280
Thanks for running that test.  I'll investigate further when I get time to work on this again, but at this point it sounds like I must be doing something wrong on my side.

[2018-12-20 14:38] smayoral opened #286 "PR-SCTP issue if start fragment of a data chunk goes missing"
Hi,

I will try to describe the problem I have using an unordered channel either with
DATA_CHANNEL_RELIABLE_UNORDERED or with DATA_CHANNEL_PARTIAL_RELIABLE_REXMIT_UNORDERED.

My SCTP implementation sends:
DataChunk0Fragment0    TSN=0  Start/End
DataChunk1Fragment0    TSN=1  Start
DataChunk1Fragment1    TSN=2  End
DataChunk2Fragment0    TSN=3  Start/End
DataChunk3Fragment0    TSN=4  Start
DataChunk

[2018-12-20 17:46] velichkov commented on #265
Hi @tuexen, @gabm

I would like to use this for unit/integration tests to avoid collisions with other applications or other users running the tests at the same time on the same host. Also on CI/CD systems usually you have little control what else is running on the host and what ports are free.

So I've decided to try to implement this and I've found that currently when `usrsctp_init` is called wit

[2018-12-23 18:07] tuexen commented on #286
You wouldn't send a `FORWARD-TSN` chunk in case of a `DATA_CHANNEL_RELIABLE_UNORDERED` data channel or a `DATA_CHANNEL_PARTIAL_RELIABLE_REXMIT_UNORDERED` with a `Reliability Parameter` > 0. In both cases you would retransmit `TSN`=1 after receiving the third loss indication:
[code]
This is describes as Fast Retransmission in RFC 4960.
Only for `DATA_CHANNEL_PARTIAL_RELIABLE_REXMIT_UNORDERED` with

[2018-12-23 21:31] smayoral commented on #286
Hi,
thank you very much for you reply.

the problem is that usrsctp library ignores my TSN=1 and TSN=2 because the library received TSN=4 before (start of a fragmented data chunk)

When the library gets my TSNs, the function **sctp_flush_reassm_for_str_seq** is called and following condition is checked:

if (!asoc->idata_supported && !ordered && **SCTP_TSN_GT(control->fsn_included, cumtsn)**) {

c

[2018-12-23 23:56] tuexen commented on #286
Wasn't TSN=1 dropped on the wire? Are you saying TSN=2 is dropped by the SACK even though it was acked in a GAP?

fsn_included means fragment sequence number. Why are you referring to FORWARD-TSN?

The implementation might not be optimal...

Best regards
Michael

[2018-12-24 08:52] smayoral commented on #286
Hi Michael,
I think it is difficult to explain the problem in this way. I will reproduce the problem again and send you the call stack of the usrsctp library after receiving each fragment.
But this should be easily reproduced:

- Send a sequence like the example above without waiting for SACKs (all fragments at once)
- Drop DataChunk1Fragment0 (Start Fragment) on the wire
- Use ForwardTSN to tell

[2018-12-24 09:09] tuexen commented on #286
I agree.

OK.

I can write a packetdrill script in the next days and test it on the FreeBSD kernel stack, which should behave identical to the usrsctp stack.

I'll post it here and will report whether it reproduces the issue you are seeing.

Best regards
Michael

[2018-12-26 00:32] nxrighthere opened #287 "Code analysis"
I just performed code analysis using PVS-Studio, and the application detected up to 560 warnings with various levels.

Here's a beautiful and convenient HTML report for you:
[usrsctp_analysis.zip](https://github.com/sctplab/usrsctp/files/2709132/usrsctp_analysis.zip)

[2018-12-26 10:44] nxrighthere commented on #287
I believe that there are many false positive warnings, but still, maybe you will find something that deserves some attention.

[2018-12-26 12:04] tuexen commented on #287
Thanks for providing the information. There are false positives in the area of `struct sockaddr` handling, but I'll go through the list. I also realised that PVS-Studio provides a free license for Open Source project. So we might be able to integrate this into our CI. We currently use the clang static analyzer and Coverity. Adding one more would be great if possible.

[2018-12-26 12:39] weinrank commented on #287
@tuexen I’ll try to implement the PVS-Studio in our CI System.

[2018-12-26 12:43] tuexen commented on #287
@weinrank Cool!

[2018-12-26 22:49] nxrighthere commented on #245
Not excluding the protocol itself, from what I see in the code (UDP encapsulation) the problem sits even lower. The current approach is non-scalable traditional UDP with a very basic I/O model where sooner or later the kernel (across platforms) will just reach its logical limits due to huge overhead. You have no idea what happens under the hood of the kernel with a single `sendmsg` `recvmsg` / `WS

[2018-12-27 08:46] weinrank commented on #287
PVS-Studio seems to be a commercial product without a free license.
I'll skip this tool.

[2018-12-27 08:59] tuexen commented on #287
@weinrank: Really? Isn't  https://www.viva64.com/en/b/0600/ one? It is not yet 2019, but we can see next year...

[2018-12-27 14:38] lgrahl commented on #245
Thanks for that insight but let's not jump to conclusions before we have practically analysed where the CPU spends its work.

It's scarcely believable to me that 500 Mbit/s is an issue with traditional UDP sockets while SCTP in the FreeBSD kernel (which AFAIK uses the code of this project) achieves a significantly higher throughput.

[2018-12-27 15:09] nxrighthere commented on #245
It depends on the hardware actually, stripped down version with scatter/gather using almost raw UDP sockets on mine machine shows the upper limit of ~140 Mbps with around 180 concurrent connections, the server is broadcasting 20 messages per second to each client.

The problem is how we work with UDP for years: we have a single socket for listening, everything else is just operations around socket

[2018-12-27 15:35] nxrighthere commented on #245
Luigi Rizzo explains some things around this topic in [this](https://www.youtube.com/watch?v=la5kzNhqhGs) talk.

[2018-12-27 15:58] weinrank commented on #245
Hey @nxrighthere,

we've also noticed SCTP's limited goodput, even on bleeding edge systems.
About two years ago, I've evaluated the benefit of netmap and CRC32C checksum offloading.
The results weren't as good as I expected.

I'll merge the latest master in my netmap/crc32c branch, make some fresh measurements and provide the results + src.

Best regards
Felix

[2018-12-27 16:42] nxrighthere commented on #245
That's great! It's glad to see that you are working in this direction.

My projects are mostly built on top of UDP. The most recent is utilizing RIO with IOCP for scalability on Windows, and so far it works way much better than traditional UDP approaches, thanks to minimized lock contention/system calls and efficient buffers/queues management.

SCTP is an awesome source for me to learn some protoc

[2018-12-29 03:00] shiretu opened #288 "compile error: variable shadowing"
[code]

This is on an older arm compiler, but not sure about the exact version. I will come back with the necessary version info if required, but i believe that the error is quite self explanatory

[2018-12-29 09:14] weinrank commented on #288
Thanks for the report, which OS?

[2018-12-29 11:00] shiretu commented on #288
That is linux based on OpenWRT

[2018-12-30 16:50] shiretu commented on #288
It was arm gcc 4.7.0 with uclibc .
Removed the -Wshadow for that particular case. I hope it does not have weird side effects. For the record, I’ve made a test by “correcting” that statement using an intermediate variable, but it complained about the same “error” in a different place. This time a variable name was shadowing a static global function.

[2018-12-30 16:55] shiretu commented on #288
And happy new year for everyone involved. Grateful for this library, keep up the standards, this is good!

[2019-01-01 09:31] randy408 commented on #136
A new release would be nice, 0.9.3.0 is over two years old.

[2019-01-01 14:53] tuexen commented on #286
The following `packetdrill` shows how the stack currently behaves:
[code]
Basically, reassembled unordered messages might not get delivered as soon as possible. This is a limitation of the current implementation. I can try to look at removing this limitation...

[2019-01-01 21:01] smayoral commented on #286
Hi,
you write "Missing first fragment of second message is received."
What if this message really gets lost?
Did you try to use ForwardTSN? The library should deliver queued messages after processing ForwardTSN message but it doesn't.

In my tests, using ForwardTSN, the fragmented messages get never delivered, probably because the missing messages never arrive.

Thanks again for testing this issue

[2019-01-01 23:53] tuexen commented on #286
The point is if the first fragment is lost, it is retransmitted by the peer, if it is not abandoned.

However, if it is abandoned, you are right, there is a bug. The following scripts does NOT run:
[code]
It hangs at the `recv()` call for the fourth message. Will look into it.

[2019-01-02 08:57] smayoral commented on #286
That is exactly the problem I am having, nice that you could also reproduce it.

[2019-01-02 22:37] jlaine opened #289 "Duplicated streams in FORWARD TSN"
Hi, and thanks a lot for carrying the burden of maintaining such a widely used library!

I am in the process of adding PR-SCTP for `aiortc`, a Python WebRTC stack which includes a minimalist SCTP implementation. As part of my tests I have the following setup:

- Firefox/usrcrtp sends messages to aiortc using DATA chunks
- aiortc randomly drops some of the DATA chunks
- Firefox/usrsctp sends FORWAR

[2019-01-06 23:19] JlnWntr opened #290 "SCTP ordered message delivery"
Is it possible to force *SCTP* to send all data completely ordered?

Let's do this experiment:

1.  Take this [SCTP-discard-server][1] and this [SCTP-client][2].

2.  Let the client count to 100 a lot of times and send a byte each time respectively to the server.
[code]
3. Let the server count along the same way and compare its number with the received one.
[code]
Some seconds later:
[code]
I comp

[2019-01-07 04:18] tuexen commented on #290
Sending all message completely ordered within each stream is the default and should work. I guess, what happens, is that the `usrsctp_sendv()` call fails (returns -1 and `errno` is set to `EWOULDBLOCK`) if the socket buffer is full. Since you don't check the return value and assume every `usrsctp_sendv()` call succeeds, it looks like the SCTP layer looses messages. But I guess it is the applicatio

[2019-01-07 21:18] JlnWntr commented on #290
Yes, this is the explanation! Thank you very much for that.

[2019-01-07 21:18] #290 closed

[2019-01-10 08:44] lgrahl opened #292 "Backport event loop support from usrsctp-neat"
Would be the only thing left I need to be able to use the upstream usrsctp in RAWRTC. :slightly_smiling_face:

[2019-01-11 09:40] weinrank commented on #245
I've refurbished my experimental branch.
https://github.com/weinrank/usrsctp/tree/skunkworks

The `skunkworks` branch contains code for **CRC32C in hardware** and **netmap**.
Both features are toggled via an CMake option: [here](https://github.com/weinrank/usrsctp/blob/skunkworks/CMakeLists.txt#L70) and [here](https://github.com/weinrank/usrsctp/blob/skunkworks/CMakeLists.txt#L75)

## CRC32C in ha

[2019-01-11 21:57] shiretu opened #293 "Windows compile issue caused by ssize_t"
Hi all,

`ssize_t` defined [here](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/usrsctp.h#L75) is not guarded by anything. If the user of the lib already defined `ssize_t`, that this will result in an error of a redefined symbol.

This issue of `ssize_t` missing from windows is old and there is no fix in sight. However, here are some observations:

1. Definitions of missing things othe

[2019-01-18 18:21] uxmaster commented on #133
I recently got this crash in [Janus](https://github.com/meetecho/janus-gateway) which uses `usrsctp` internally to implement data channels. It happened after Janus had got a bunch of `SCTP_SEND_FAILED_EVENT` and there were some data to send out (just like described by @bbaldino). In the same scenario sometimes the crash happens in `sctp_report_all_outbound`.

@tuexen do you have any suggestions on

[2019-01-22 19:18] uxmaster commented on #133
It reproduces itself regularly in our production environment. I've just got another crash which is a bit different (`SIGABRT` instead of `SIGSEGV`) but occurred in the same scenario (a bunch of `SCTP_SEND_FAILED_EVENT` and there were some data to send out). Here's the backtrace:
[code]
Is it difficult for you to simulate this in a test? I could try, but I'm not an expert in usrsctp, so it would ta

[2019-01-22 19:31] nxrighthere commented on #133
@uxmaster What is the average session up-time before the crash occurs?

[2019-01-22 20:11] velichkov commented on #133
There is `--enable-debug` option to compile with `CFLAGS="$CFLAGS -g -O0"`.
Also you could manually set `CFLAGS` to whatever values you need when running configure, try with `CFLAGS="-g3 -O0" ./configure`

[2019-01-23 09:10] tuexen commented on #293
@weinrank Can you have a look at it?

[2019-01-23 09:18] tuexen commented on #133
@uxmaster So this happens when the association terminates non-graceful. You have requested to get back all buffered messages, which have not been transmitted successfully. Do you really make use of that feature? If not, could you try not enabling that feature (you use either the `SCTP_EVENT` socket option to enable `SCTP_SEND_FAILED` or `SCTP_SEND_FAILED_EVENT`, or the `SCTP_EVENTS` socket option

[2019-01-23 11:37] uxmaster commented on #133
@nxrighthere Session up-time before the crash seems to be about 50 minutes. Why do you ask?

@velichkov Thank you. I'll try with these flags.

@tuxen Janus uses `SCTP_EVENT` socket option ([sctp.c:220](https://github.com/meetecho/janus-gateway/blob/master/sctp.c#L220)) with bunch of event types ([sctp.c:49](https://github.com/meetecho/janus-gateway/blob/master/sctp.c#L49)) including `SCTP_SEND_FAI

[2019-01-27 20:45] tuexen commented on #293
Fixed by #296.

[2019-01-27 20:45] #293 closed

[2019-01-27 20:46] tuexen commented on #288
I consider this compiler warning as a false positive.

[2019-01-27 20:46] #288 closed

[2019-01-29 06:39] tokarevvit opened #297 "Low sending speed over NAT"
Hi. I'm trying to use usrsctp in native WebRTC application to send binary data to browser. I'm using sctp wrapped in dtls sent over an libnice connection, you can get code here: https://github.com/tokarevvit/librtcdcpp
When both native app and browser are in local network with 100 Mb/s channel, sending speed is high, close to 100 Mb/s. But when browser or native app is behind NAT or TURN relay ser

[2019-02-15 22:17] pps83rbx commented on #152
That is insane. __APPLE__ is defined by apple compiler and should not be undefined. In my case suddenly something that I assumed to be 100% on apple builds suddenly wasn't working as expected thanks for that "novelty".

[2019-02-15 22:35] tuexen commented on #152
Then do so. I agree, it should be improved.

[2019-02-15 22:39] pps83rbx opened #299 "Do no undefine __APPLE__ on mac/ios builds"
This was already reported and [simply closed before](https://github.com/sctplab/usrsctp/issues/152). This is a bug that has to be fixed.

`__APPLE__` is a known identifier for apple builds (mac/ios), this is insane to undefine it. More over, this isn't supported, as identifiers with leading underscores are reserved. You aren't supposed to define/undefine these, I hope it's not a surprise for you.

[2019-02-15 22:50] lgrahl commented on #299
@tuexen already said he agrees with you and that they are very much willing to accept a pull request.

[2019-02-15 22:53] pps83rbx commented on #299
I just did quick code review and I'm totally shocked that this code doesn't bomb. It' sued by chrome in webrtc, strange that they didn't notice it.

[2019-02-15 23:08] lgrahl commented on #299
I also did a quick review... this is dead code unless someone defines `SCTP_USE_NSS_SHA1`. So, you can calm down now.

[2019-02-15 23:28] lgrahl commented on #299
And apparently none of the browsers define it, so they aren't aware (or were aware and decided not to report it):

* Chrome: https://cs.chromium.org/chromium/src/third_party/usrsctp/BUILD.gn?l=96&rcl=38de9b980a6fd8ca452c39b2db1dec5639459976
* Firefox: https://dxr.mozilla.org/mozilla-central/search?q=SCTP_USE_NSS_SHA1&redirect=false
* WebKit: https://github.com/WebKit/webkit/blob/9d678322281ccd0790

[2019-02-15 23:36] pps83rbx commented on #299
I wasn't at all concerned by this piece. It's "safe" even though ugly hasck as the code says.

These are the problems I'm concerned about:

sctp_pcb.h:
https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_pcb.h#L193
https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_pcb.h#L227
https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_pcb.h#L308
ht

[2019-02-16 00:06] lgrahl commented on #299
Right, so IIRC the problem you're describing is not the fact that `__APPLE__` may be undefined but rather that `__APPLE__` must be undefined when building usrsctp to get it to work in userspace on iOS/Mac. This results in the CFLAGS propagating to your application which messes up the build for iOS/Mac. Is that correct?

usrsctp.h is but the rest is not. So, if I interpret the code correctly and yo

[2019-02-16 00:43] pps83rbx commented on #299
usrsctp treats `__APPLE__` as a define that says that it's a kernel-level (non-userland) build of usrsctp, same goes for other similar platform defines. So, usrsctp is built with some defines/undefines, but when it's used from external code it's not very reasonable to require that users of the library also define the same defines that were used to build it (if usrsctp needs that, it should have so

[2019-02-16 00:58] pps83rbx commented on #299
It would be better if usrsctp had consistent defines (USRSCTP_USERLAND, USRSCTP_SOMETHING_ELSE) and preferably wouldn't require user code to also defines the same defines when using usrscpt headers. That usually requires some kind of config.h to be exported as a public header.
I use webrtc and they end up having to define all kinds of defines from all kinds of libs that insist that user code does

[2019-02-16 01:25] lgrahl commented on #299
Already pointed out that you don't need to define anything when including `usrsctp.h` in your application. The (private) defines are only needed when building and they don't matter afterwards... with the exception of `SCTP_DEBUG` as mentioned in #275 and `__APPLE__` for iOS/Mac which is clear by now.

Yep, they aren't prefixed and the code certainly isn't going to win a beauty contest... but that

[2019-02-20 13:23] weinrank commented on #292
PRs welcome! :)

[2019-03-03 11:18] nxrighthere opened #301 "SCTP_SHUTDOWN_COMP is not triggered on the caller using usrsctp_close()"
`usrsctp_close()` doesn't trigger `SCTP_SHUTDOWN_COMP` in `SCTP_ASSOC_CHANGE` notification on the caller side (the server in my case) while the client properly receives this notification. I'm using one to one setup with registered upcalls, so everything is completely signal-driven and because this event is missed on the caller side bugs occurs in my layer on top of SCTP.

[2019-03-03 11:35] nxrighthere commented on #301
I guess I should use `usrsctp_shutdown()` instead of `usrsctp_close()` in cases where I'm going to disconnect the client so only then `SCTP_SHUTDOWN_COMP` will be triggered on both sides, and when the event occurs the socket can be closed safely closed. 🤔

[2019-03-03 11:44] nxrighthere commented on #301
Yea, seems that it solved now.

[2019-03-03 11:44] #301 closed

[2019-03-11 11:37] nxrighthere opened #302 "Advice for low-latency applications/fast-paced games"
I'm building a new networking library on top of SCTP using one to one setup with no delay option and multiple streams for low-latency applications/fast-paced games, and in general, it works great. While experimenting with SCTP options I noticed that `sctp_rto_min_default` set to zero leads to faster packets transmission without any delay, datagrams delivered instantly. How this option affects tran

[2019-03-16 09:57] nxrighthere opened #303 "Strange behavior with different compilers on Windows"
I noticed a strange behavior while tuning SCTP options on Windows. When the library is compiled with GCC, these functions:
`usrsctp_sysctl_set_sctp_no_csum_on_loopback(1);`
`usrsctp_sysctl_set_sctp_nr_incoming_streams_default(10);`
`usrsctp_sysctl_set_sctp_nr_outgoing_streams_default(10);`
return zero. But when the library is compiled with MSVC they return `-1`.

Any idea why this happens?

[2019-03-16 10:44] tuexen commented on #303
No.  You can use `printf` for debugging: Instrument the macro `USRSCTP_SYSCTL_SET_DEF`, which is defined in [user_socket.c:3558](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/user_socket.c#L3558).
@weinrank Can you reproduce it on Windows?

[2019-03-17 15:01] nxrighthere commented on #290
@tuexen It's possible to increase the buffer size to minimize such failures?

[2019-03-17 15:06] tuexen commented on #290
Yes, you can set the socket send buffer size. See [ekr_loop.c:403](https://github.com/sctplab/usrsctp/blob/master/programs/ekr_loop.c#L403).

[2019-03-17 21:48] weinrank commented on #303
I'll check that...

[2019-03-18 12:06] #302 closed

[2019-03-19 08:46] weinrank commented on #303
I can't reproduce the issue, would you provide more information about it?
- OS (Win32/Win64?)
- MSVC version
- CMAKE/Makefile?

I've added the following tests to our `ekr_loop` example program:
https://github.com/weinrank/usrsctp/commit/15f2be86438b980baa650af17415f012b1c3e3be?diff=split

Our Windows buildbot (Win7 - MSVC) output:
http://buildbot.nplab.de:48010/builders/windows-7/builds/97/steps/s

[2019-03-19 09:23] nxrighthere commented on #303
Sorry, the problem in my fork for MinGW... 😓

[2019-03-19 09:23] #303 closed

[2019-03-19 09:48] nxrighthere commented on #302
Despite the fact that I closed the issue, any info is still highly welcome. 😼

[2019-03-26 13:09] #286 closed

[2019-03-26 15:42] nxrighthere commented on #276
@weinrank Any progress on this? 🎗

[2019-04-12 02:13] lxlenovostar opened #307 "Why default value of mtu is 1280 not 1400?"
[code]
in sctp_pcb.c

Why default value of mtu is 1280 not 1400?

[2019-04-12 07:00] lgrahl commented on #307
See https://en.wikipedia.org/wiki/Maximum_transmission_unit#IP_MTUs_for_common_media

[2019-04-12 13:17] t0m343 opened #308 "INIT_ACK is not detected correctly"
When trying to connect to a Server i encountered some issue.
I did several test to figure out the problem but at this point i am stuck.
For all tests i have two applications (On Server and one Client).
I am using UDP Encapsuling where the Server tunnels throught port 54078 and the client uses port 22222. And i am just trying to open a connection between both applications.
1. Test:
Start Server and

[2019-04-15 02:44] #307 closed

[2019-04-15 06:15] tuexen commented on #308
Can you provide

- the debug output of the client side
- the debug output of the server side
- a .pcapng file showing this message exchange from the client side
- a .pcapng file showing this message exchange from the server side

This might help in figuring out what is wrong.

Can you also specify which Operating System and which processor are you using? It seems that the numbers in the debug out

[2019-04-15 09:16] t0m343 commented on #308
I put the logs and dumps in the zip file
[DumpsAndLogsSCTPError.zip](https://github.com/sctplab/usrsctp/files/3079231/DumpsAndLogsSCTPError.zip)
:
I am using a Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz for the client with Ubuntu 18.04
The server is a Virtual Server running Ubuntu 18.04
When i use a docker container on the client side every thing works fine.
When i am running the test  with my coll

[2019-04-15 19:32] tuexen commented on #308
The logging looks very strange. Most of the integers printers (including the IP-addresses) look like if the addresses are off by one or two. How did you build the library and app? Is it possible that there is something screwed up? The addresses in the INIT-ACK look strange, too. The loopback address shouldn't be there and the IPv6 address ::2 also looks strange...

[2019-04-16 13:36] t0m343 commented on #308
The flags i used are:
DHAVE_LINUX_IF_ADDR_H -DHAVE_LINUX_RTNETLINK_H -DHAVE_NETINET_IP_ICMP_H -DHAVE_STDATOMIC_H -DHAVE_SYS_QUEUE_H -DINET -DINET6 -DSCTP_DEBUG -DSCTP_PROCESS_LEVEL_LOCKS -DSCTP_SIMPLE_ALLOCATOR -D_GNU_SOURCE -D__Userspace__ -D__Userspace_os_Linux -Dusrsctp_EXPORTS  -std=c99 -pedantic -Wall -Wextra   -Wfloat-equal   -Wshadow   -Wpointer-arith   -Wunreachable-code   -Winit-self   -W

[2019-04-18 10:13] tuexen commented on #308
I guess, the library has an issue with detecting loopback addresses, the server should not send `127.0.0.1` to a peer not reachable via the loopback address.

Can you try binding the a specific address on the client and server side and see if that works?

[2019-04-18 21:12] t0m343 commented on #308
Ok, i think we are getting somewhere with this:
When i bind the client to a specific address everything works fine. But the client list the loopback address of the server as Remote peer. (I used ipv4 for this test)
Then i checked my network interfaces and removed currently unused ones. When i remove the docker bridge from the interface list every thing works.

[2019-04-23 02:51] nxrighthere opened #309 "Client unable to connect after server startup on Windows"
After the latest changes, I noticed that a client is unable to connect to a server via `usrsctp_connect()` if the server was started after the client on Windows. You can verify this by simply running test programs `client.exe 192.168.1.2 9 0 22222 11111` and then `discard_server.exe 11111 22222`. Up-call version is affected as well. Everything works fine on Linux.

[2019-04-23 07:44] weinrank commented on #309
I'll try to reproduce and report back.

[2019-04-23 14:00] tuexen commented on #308
@weinrank: Can you reproduce this in a docker environment?

[2019-04-23 14:19] weinrank commented on #309
We tried to reproduce the issue (Windows 7, CMake, VS 2017) and haven't seen the problem.
Can you provide more details?

[2019-04-24 00:28] nxrighthere commented on #309
I'm running the test programs on Windows 10 Build 1903 (x64), built using CMake /w MSVC 2017 as well. The client doesn't print any debug logs. Some logs from the server:
[code]

[2019-04-24 16:34] weinrank commented on #309
Can you enable the Client's debug output [Change "SCTP_DEBUG_NONE" to "SCTP_DEBUG_ALL"](https://github.com/sctplab/usrsctp/blob/70b3cd7b759323a86f8341e1baa21fb7a7bc07e7/programs/client.c#L115) and post the output?

Can you also provide a wireshark tracefile?

[2019-04-24 18:04] nxrighthere commented on #309
Here's the client's debug logs:
[code]
Captured traffic: [sctp_capture.zip](https://github.com/sctplab/usrsctp/files/3113631/sctp_capture.zip)

[2019-04-24 20:44] weinrank commented on #309
Thanks, are you sure the sctp_capture belongs to this debug output?
The capture contains a successful handshake and a data transmission of a single packet from the client to the server.
In addition, the SCTP port numbers seem to mismatch between your debug output and the trace.

![image](https://user-images.githubusercontent.com/6726222/56692397-608ce800-66e2-11e9-86b0-e094995417ce.png)

[2019-04-24 21:23] nxrighthere commented on #309
Ah, sorry, this one should be proper:
[code]
[sctp_capture_debug.zip](https://github.com/sctplab/usrsctp/files/3114228/sctp_capture_debug.zip)

[2019-04-24 22:08] nxrighthere commented on #309
Here are the compiled test programs: [sctp_test_debug.zip](https://github.com/sctplab/usrsctp/files/3114346/sctp_test_debug.zip)

[2019-04-25 08:40] nxrighthere commented on #309
@weinrank By the way, how you decoded UDP encapsulated data as SCTP packets? I tried to convert it directly in Wireshark, but no luck.

[2019-04-26 08:43] lxlenovostar commented on #283
@tuexen  @lgrahl  I think these two statistics can count the retransmission packets. Am I correct?

[code]

[2019-04-26 08:46] tuexen commented on #283
I would say so...

[2019-04-26 08:51] lxlenovostar commented on #283
These two statistics can count the number of data chunk which retransmit. Am I correct?

[2019-04-26 11:31] tuexen commented on #283
Yes, I think so.

[2019-04-30 08:41] tuexen commented on #309
@nxrighthere Can you update the sources, enable debug output for the client, retest and send the debug output from the client? We added additional debug output in https://github.com/sctplab/usrsctp/commit/0befd0a17dac972917d3343f5e9aa25a40c23425.

[2019-04-30 17:45] nxrighthere commented on #309
Sure, here are the logs and captured packets:
[code]
[sctp_capture_debug.zip](https://github.com/sctplab/usrsctp/files/3132438/sctp_capture_debug.zip)

If you need anything else, I'm happy to assist.

[2019-05-01 10:28] tuexen commented on #309
Hmm, this doesn't show what I was hoping for.

Your traces show basically, that no incoming packet (the INIT-ACK) is received by the stack. Since you say that this only occurs when you start the server after the client, I guess that the reception of the ICMP message is relevant. My theory was the in the receive thread the receive functions returns an error and we stop the receive thread. However,

[2019-05-01 11:10] nxrighthere commented on #309
I've tried to reproduce this using two machines connected to each other over a wireless network, and everything works great. I tried to run a server locally on each - they are unable to connect to their own network addresses while in the Windows Subsystem for Linux environment this issue is not a thing. I disabled all protection software on both machines, no luck. 🤔

[2019-05-01 11:23] nxrighthere commented on #309
The receive thread spinning and checking the socket just fine, yes.

[2019-05-01 12:18] tuexen commented on #309
Just to get it crystal clear:
- When running client and server on two different machines, everything is OK.
- When running client and server within the Windows Subsystem for Linux, everything is OK.
- Only when running client and server on Windows 10 natively, you see the issue. You see the issue on two different systems.
- My analysis is correct: When the problem happens, the `WSARecvMsg` functio

[2019-05-01 12:30] nxrighthere commented on #309
Everything is correct expecting:

Debug log spamming both _before_ and _after_ endlessly.

[2019-05-01 12:57] nxrighthere commented on #309
Here are the logs with `WSARecvMsg`:
[code]

[2019-05-01 12:59] tuexen commented on #309
Ahh, OK. Can you change the debug output after `WSARecvMsg()` to
[code]
and add a couple of lines down right after:
[code]
another debug output:
[code]
and report what the output is?

[code]

[2019-05-01 13:04] nxrighthere commented on #309
Got it:
[code]

[2019-05-01 13:51] tuexen commented on #309
OK, `10054` corresponds to `WSAECONNRESET` (see [msdn](https://docs.microsoft.com/en-us/windows/desktop/winsock/windows-sockets-error-codes-2)), which I did not expect.

I'm not sure why there is no other
[code]

Can you retry with using
[code]

[2019-05-01 14:07] nxrighthere commented on #309
Your snippet solved this issue, now it works as intended. 👍

[2019-05-01 14:16] nxrighthere commented on #309
Here are the logs with a successful connection:
<details>
  <summary>Debug logs</summary>

[code]
</details>

[2019-05-01 14:22] #309 closed

[2019-05-01 14:25] tuexen commented on #309
@nxrighthere Thanks for helping to debug the issue! I committed a fix. Please retest and reopen the issue, if the problem still persists.

[2019-05-01 14:29] nxrighthere commented on #309
Thank you, I updated the code in my layer on top - everything works great now. 😸

[2019-05-02 07:47] weinrank commented on #309
Yes!

[2019-05-03 15:27] nxrighthere opened #313 "Ignore incoming connection with one to one setup"
I wonder, it's okay to not call `usrsctp_accept()` within the up-call on a server in order to ignore incoming connection or there's a better approach? My goal is to prevent any incoming connection for a while and then resume listening again.

[2019-05-03 16:37] tuexen commented on #313
When you don't want to accept anymore, call `listen(fd, 0)`, when you want to accept again call `listen()` with a positive second argument... That should do the trick.

[2019-05-03 16:57] nxrighthere commented on #313
Thanks, it seems that it works. 👍

[2019-05-03 16:57] #313 closed

[2019-05-04 19:33] nxrighthere opened #314 "Clients randomly throw SCTP_CANT_STR_ASSOC on Windows"
Found another issue on Windows 10. When many clients are quickly connecting to a server one after another, some of them randomly throw `SCTP_CANT_STR_ASSOC` after init timer expires, but the first client always connected successfully in my tests. This happens only if the server is running on Windows, the Linux seems unaffected.

Note that I left debugging messages around `WSARecvMsg` from the prev

[2019-05-04 20:05] tuexen commented on #314
You are running the multiple clients by running an application multiple times, right? If that is true, are you making sure the local UDP ports are all different?
@weinrank Can you try to reproduce this?

[2019-05-04 20:08] nxrighthere commented on #314
Yes, I'm generating random encapsulation ports, they should not collide each other, but I'll double check that...

[2019-05-04 20:39] nxrighthere commented on #314
Actually, I reproduced this on Ubuntu as well. All ports are unique, two of the clients was unable to connect to the server in this test run:
![test](https://user-images.githubusercontent.com/8279330/57184530-166fe780-6ed6-11e9-9801-de71632af768.PNG)

[2019-05-04 21:53] nxrighthere commented on #314
This problem occurs only when clients are connecting quickly and sequentially, it never happens with a single client.

[2019-05-04 23:04] tuexen commented on #314
Can you describe how to reproduce the problem on a Linux system?

[2019-05-05 08:49] tuexen commented on #314
Another note: The intended usage is one stack per host, not one stack per application. So if your multiple clients use different UDP ports but use the same local SCTP port, that would not work. However, you should see some packets on the wire. The SCTP port number collisions could happen due to the random number generator initialisations based on the time...
So can you check that not only the UDP

[2019-05-05 09:58] nxrighthere commented on #314
It seems that this is the reason why it happens, when I add a one second delay between processes spawning, then everything works fine 64/64 is connected successfully.

I'm using a standard one to one setup with up-calls and then just spawning client processes via bash script sequentially. They don't send/receive any messages, just connecting to the server and transmit heartbeat packets with a dela

[2019-05-05 10:15] nxrighthere commented on #314
Indeed, I just checked it and found two clients with the same port numbers both clients were spawned with a difference of less than a second.:
[code]

[2019-05-05 10:16] nxrighthere commented on #314
Should I close this issue or we can increase the precision of internal port number generator?

[2019-05-05 10:26] tuexen commented on #314
Leave it open. I can try to see if I can improve the seeding of the random number generator. Give me a day or two...

[2019-05-05 11:13] nxrighthere commented on #314
Here's the random seed generator that I'm currently using mixed with Park-Miller RNG:
[code]

[2019-05-09 08:56] nxrighthere commented on #302
@tuexen Is there any sense to switch the default congestion control to RTCC for networking games in order to minimize delays and better estimations for real-time communications?

[2019-05-09 09:06] tuexen commented on #302
If I remember it correctly, it is an experimental CC developed by @stewrtrs . Possibly he can answer.

[2019-05-12 20:56] #259 closed

[2019-05-16 15:49] gidcs opened #316 "sctp over udp encapsulation does not work under NAT network"
I am trying _usrsctp_ right now.
As far as I understand, _usrsctp_ should work fine even client is behind NAT when udp encapsulation is using.
However, I found that demo programs does not work when client is behind NAT.
(Note that: WebRTC is working fine and discard_server is not reside in the LAN.)
The 4-way handshake always stuck at the second step and the client will keep retry and retry.
Is th

[2019-05-18 07:15] gidcs commented on #316
I have go through it and found that my main interface was added into the asoc,sctp_restricted_addrs and this is why the four-way handshake always stuck. However, if I deactivate the virbr0 in my client computer, the demo program works without any issue. It is a quite strange program.

[2019-05-18 07:31] tuexen commented on #316
Can you figure out why the addresses where added?

[2019-05-29 00:56] shiretu commented on #297
I'm experiencing the same issue: very poor performance over NAT. Tested the TCP throughput with iPerf and I get around 67mbps between the endpoints. With SCTP, I barely reach 4mbps.

@tuexen: `programs/tsctp.c` can use send callback or not. When the sending callback is not used, I see that a tight loop is used, and is used in blocking mode:
https://github.com/sctplab/usrsctp/blob/master/programs/t

[2019-05-29 00:59] shiretu commented on #297
Also, on localhost, MacOS on the top of the line MacBook Pro, I get about 410mbps. Lest then half gigabit.

[2019-05-29 08:21] lgrahl commented on #297
I recommend doing the following:

* Build usrsctp in release mode with O3 (duh!)
* Adjust the SCTP buffers to something reasonable, for example 4 MiB
* Adjust the UDP buffers to something reasonable, for example 4 MiB

With that, I'm able to get from ~520 Mbit/s to ~700 Mbit/s. Still too low for my taste but those adjustments may allow us to find the bottleneck.

See also #245

[2019-05-29 10:17] shiretu commented on #297
@lgrahl Pretty please try your exact settings with a peer across an ocean. I believe the most influencing factor is the latency.

I have tried to size up send and receive buffers on both sides for both SCTP and UDP. In my case it did absolutely nothing. I still get same low performance.

[2019-05-29 13:45] weinrank commented on #297
I’m currently on vacation but will try to recreate the issue in our lab by using dummynet.

Can you provide additional information:
- rtt
- bandwidth
- OS
- tsctp parameters

Best regards
Felix

[2019-05-29 14:29] shiretu commented on #297
@weinrank - I’ll prepare the data today, along with pcap files and debugging output.

Have a great vacation, don’t ruin it :)

Best regards,
Andrei

[2019-05-29 15:44] shiretu commented on #297
First graph that I could do easily, before the data requested by @weinrank. This is done to eliminate any suspicions regarding the transport layer (DTLS) being the culprit.

![image](https://user-images.githubusercontent.com/7860758/58570901-7477bc80-8241-11e9-843e-38cf5ce531fe.png)

[2019-05-29 17:54] shiretu commented on #297
UDP throughput is enormous via iperf. With the exception of few packets out of order (few when considering the number of sent packets), the transport via UDP between the 2 points is excellent

![Screenshot 2019-05-29 at 20 51 49](https://user-images.githubusercontent.com/7860758/58579443-b6a9f980-8253-11e9-956a-8d8d449bba97.JPG)

[2019-05-29 19:56] lgrahl commented on #297
@shiretu At least with artificial delay, throughput definitely goes up with increased buffer sizes: https://docs.google.com/spreadsheets/d/1Ze2hZl9KZJ1hKcm5Y9J0OIknQCBHUpw5eefskCc8xpM

[2019-05-29 20:00] shiretu commented on #297
@lgrahl: what is maximum column?

[2019-05-29 20:01] lgrahl commented on #297
The theoretical maximum with the given RTT and window sizes.

[2019-05-29 20:02] shiretu commented on #297
Got it

[2019-05-29 20:06] shiretu commented on #297
Not getting anywhere near those values
[code]

[2019-05-29 20:12] shiretu commented on #297
@lgrahl  - can you share the source code for the tool you used to do the benchmark? Would very much like to test it in my environment, and see if there are any differences

[2019-05-29 20:28] lgrahl commented on #297
I've used a patched (adjusted SCTP buffer sizes) version of [RAWRTC](https://github.com/rawrtc/rawrtc)'s [data-channel-sctp-throughput](https://github.com/rawrtc/rawrtc/blob/master/tools/data-channel-sctp-throughput.c) tool. Unfortunately that was quite a while ago and I don't have the patch any more (nor would it work with the current code base). You can try to patch it yourself though.

However,

[2019-05-29 21:43] shiretu commented on #297
@lgrahl
[code]

[2019-05-30 14:11] shiretu commented on #297
@weinrank :

rtt: a bit wild. See the IPERF logs for UDP
bandwidth: more than 60mbps for TCP, a lot more for UDP
OS: tsctp server on macos, and client on linux
tsctp parameters: see the archive, it has a lot more
[report.zip](https://github.com/sctplab/usrsctp/files/3237358/report.zip)

[2019-05-31 10:24] nxrighthere commented on #245
After some time spent on profiling and debugging using [NetDynamics](https://github.com/nxrighthere/NetDynamics) with SCTP, I found that `SCTP_NODELAY` is performance and throughput killer which is enabled in every data channel implementation as I can see.

With no delay: server's performance dies at ~10,000 messages per second for a single client.
Without touching it: server is able to handle ~20

[2019-05-31 10:46] nxrighthere commented on #245
In general `usrsctp_sendv()` causes the most costly and slow operations under the hood even in non-blocking mode, unlike ENet for example which is just enqueuing packets for sending and then managing them at service calls following by its internal logic based on I/O multiplexing.

[2019-05-31 15:20] tuexen commented on #245
It seems strange that enabling `SCTP_NODELAY` has such a bad impact. What is the message size your are using?

[2019-05-31 15:28] nxrighthere commented on #245
Payload size is about 25 bytes per message, so Nagle-like algorithm doing a pretty good job there, it assembles packets into one below MTU, I think it carries the biggest impact.

[2019-05-31 16:46] tuexen commented on #245
Assuming you fill the socket send buffer, the packets should be about full sized frames and `SCTP_NODELAY` shouldn't make such a big difference a difference (factor of 20). That seems strange. What is the approximate size of packets on the wire?

[2019-05-31 16:55] nxrighthere commented on #245
Here are two files of captured traffic with and without `SCTP_NODELAY`.

[capture_sctp_nodelay.zip](https://github.com/sctplab/usrsctp/files/3242143/capture_sctp_nodelay.zip)

[2019-05-31 17:18] tuexen commented on #245
Thanks for the tracefiles. The `TCP_NODELAY` socket option does not work as intended. I'll need to take a look at it.

[2019-06-01 00:11] shiretu opened #317 "setsockopt IPPROTO_SCTP/SCTP_DELAYED_SACK not functional"
I'm trying to debug NAT traversal speed issues (see [this](https://github.com/sctplab/usrsctp/issues/297) for more details).

One of the things I have discovered is the insane amount of SACKs sent. Literally every single packet is ACK-ed. It generates enormous amounts of traffic. At some point, the SACKs sending takes a very very very long break. Would very much like to lower down the frequency, o

[2019-06-01 06:27] tuexen commented on #317
Just as a note: Using such a setting (assuming the receiver will do what it is supposed to do), would result in a very bad performance, since the congestion control on the sender side assumes that it receives a SACK for every other packet.

So the intend for the socket option was to allow to

- control the delayed ACK timer.
- send a SACK for every packet.

Of course your suggested configuration s

[2019-06-01 10:26] shiretu commented on #317
@tuexen - You were right about the performance. I have basically implemented that delayed selective ack in my app, just to see how it affects performance. It took a deep plunge.

I guess the bug report still stands, but as you said, it will not have the expected outcome when/if fixed. Are there any ways to  lower down the SACks count without affecting performance? I suspect that the kernel/bitrate

[2019-06-01 10:44] shiretu commented on #297
@tuexen , @lgrahl , @lgrahl : I have managed to “fix” the throughout situation using our test app. The issue was that I was setting the send space size on the sender, and did not set a similar value on the receive space size on receiver. I was thinking that it will not impact performance because the data surfacing out inside the receiver app is dropped anyways, and there is no noticeable delays ca

[2019-06-01 15:10] shiretu commented on #297
Found the culprit... changed form CC algorithm 0 to CC algorithm 1.
Day and night difference. I’m on almost the same speed as TCP.
I will post graphs after I finish the data gathering.

@tuexen : can we have some details about how the 2 algorithms work? Also, this information should be prominently put somewhere in the docs, as it really affects the throughput. A lot!

[2019-06-01 15:18] nxrighthere commented on #297
@shiretu Can you test the other congestion control algorithms?
[code]

[2019-06-01 15:23] shiretu commented on #297
@nxrighthere: sure thing. Ran `SCTP_CC_HSTCP` so far and gathered the data for it. Now gathering the data for `SCTP_CC_RFC2581`. I takes about one hour for each test. So any minor glitches are smoothed out. But a sneak peek:

SCTP_CC_HSTCP avg: 60+mbps (tcp pulls out 65mbps)
SCTP_CC_RFC2581 avg: 14-16mbps

[2019-06-01 15:32] shiretu commented on #297
![image](https://user-images.githubusercontent.com/7860758/58750467-8c4a7d00-849b-11e9-8129-03aba1aafe80.png)

[2019-06-01 15:49] tuexen commented on #297
The standard CC is described in [RFC 4960](https://tools.ietf.org/html/rfc4960#section-7). The alternate one seems to be described in [RFC 3649](https://tools.ietf.org/html/rfc3649). The alternate congestion controls are not tested very well...

Since you are comparing with TCP, which congestion control are you using there? If you don't set it explicitly, which OS are you using (Linux uses Cubic d

[2019-06-01 15:59] shiretu commented on #297
Linux embedded based on Debian 9.2 on aarch64 for the sender, and macOS Mojave for receiver.

[2019-06-01 16:04] tuexen commented on #297
Congestion control is done by the sender, flow control by the receiver. This means that you are comparing to Cubic...

[2019-06-01 16:08] shiretu commented on #297
![image](https://user-images.githubusercontent.com/7860758/58750912-8dca7400-84a0-11e9-81d8-e4272784d3f2.png)

[2019-06-01 16:21] shiretu commented on #297
chewing on `SCTP_CC_HTCP` now

[2019-06-01 17:17] shiretu commented on #297
![image](https://user-images.githubusercontent.com/7860758/58751679-3f21d780-84aa-11e9-8983-36957350b65a.png)

[2019-06-01 17:22] shiretu commented on #297
`SCTP_CC_RTCC` is cooking, but it does not look good. Waiting 1 hour for the sake of completeness

[2019-06-01 18:24] shiretu commented on #297
![image](https://user-images.githubusercontent.com/7860758/58752199-adb76300-84b3-11e9-9c80-c7800cd1894c.png)

[2019-06-01 18:37] shiretu commented on #297
[data.zip](https://github.com/sctplab/usrsctp/files/3244102/data.zip) contains the numerical data and the graphs.

[2019-06-01 18:49] nxrighthere commented on #297
Thanks for the tests. What the average round-trip time between endpoints?

[2019-06-01 18:53] shiretu commented on #297
@nxrighthere:

[code]

[2019-06-01 19:03] tuexen commented on #297
So the link has an RTT of 200ms. Do you know the bandwidth? Is there competing traffic? Is it a simulated link or is it a real connection?

[2019-06-01 19:04] shiretu commented on #297
Real connection, the bandwidth is much much higher. I can get about 600mbps

[2019-06-01 19:07] shiretu commented on #297
I have uploaded [tsctp report](https://github.com/sctplab/usrsctp/files/3237358/report.zip) in this thread. It contains iperf stats with both TCP and UDP.

[2019-06-06 12:44] jmillan commented on #37
There's already a PR to have @ccaughie code into usrsctp: https://github.com/sctplab/usrsctp/pull/38

[2019-06-10 12:21] shiretu commented on #297
I have created a special build for our software using HTCP CCA active on both sides: sender and receiver. Our use case is highly asymmetrical in the sense that one side is pushing massive amounts of data compared with the other side which is just giving hundreds of bytes messages with just commands.

So far, we have the excellent results. Tests were made with all sorts of connectivity combinations

[2019-06-10 12:58] tuexen commented on #297
@shiretu We (we are still looking into the implementation of the Nagle algorithm), but I could understand that the HSTCP CC is better suited for long fat pipes. We would need to test it a bit before being confident that the implementation behaves as specified.

Regarding your point of making it the standard CC: Up to now, people were very reluctant to make the data channel more aggressive, since i

[2019-06-10 15:16] shiretu commented on #297
Thanks @tuexen. How about suggesting Chrome to greatly increase the recv space? That would be sufficient, at least for our receive-heavy scenario in Chrome. Would that be a wise thing to do?

[2019-06-10 15:19] tuexen commented on #297
You can ask them. I think (maybe I'm wrong), @lgrahl increased it for Firefox. @lgrahl Do I remember it correctly?

[2019-06-10 15:36] lgrahl commented on #297
Yep, we increased buffer sizes to 1 MiB in Firefox.

@shiretu After the discussion in https://bugs.chromium.org/p/webrtc/issues/detail?id=7774, I've got the strong impression that they don't want to increase the buffer sizes because it has a side effect which increases their maximum message size. That being said, they could just continue to announce a maximum message size of 256 KiB in the SDP. Yo

[2019-06-10 15:51] shiretu commented on #297
@lgrahl I see the issues that could arise from adjusting the send space size. Quite dumb decision they have made to model the max message size based on the send space size. However, increasing the receive space size to decent 4,8 or even 16MB should be inconsequential for how messages will be reconstructed, as the assembling of chunks into messages solely depends on how the sender sent them, not o

[2019-06-10 16:23] ibc opened #318 "Missing API in Manual"
`Manual.md` lacks some API calls provided by the lib. Here some of them I'm aware of:

* `usrsctp_register_address()`
* `usrsctp_deregister_address()`
* `usrsctp_socket()` with `AF_CONN` domain.
* `usrsctp_set_non_blocking()`
* `usrsctp_dumppacket()`
* `usrsctp_freedumpbuffer()`
* `usrsctp_conninput()`

In addition, the `*send_cb` argument passed to `usrsctp_socket()` does not define anywhere that

[2019-06-10 17:58] lgrahl commented on #297
@shiretu I doubt that this was an intentional design but that's another story. They made what they made.

Be aware that those buffers are constant, so memory usage would be `#peer-connections-of-tab * (send buffer + receive buffer)`. There are data channel use cases with a lot of peer connections (e.g. webtorrent). By that I'm saying: Getting them to accept 1 MiB buffer sizes would be a good start

[2019-06-11 04:39] nxrighthere commented on #297
HTCP works well indeed, but it seems that it crashes the sender application, I've got 100% reproducible crash on Windows by simply suspending the sender thread for 100-500 milliseconds. WinDbg catches the exception every time at:
[code]

[2019-06-11 05:18] tuexen commented on #297
Division by zero?

[2019-06-11 05:40] nxrighthere commented on #297
Yes, it seems that adding a check for `ca->minRTT` solved this.

[2019-06-11 09:45] shiretu commented on #297
@lgrahl: regarding the `buffers are constant` remark. yes, I'm well aware of that. But honestly, cutting off the leg because of a broken nail is not a nice thing to do. I understand that there are apps wanting lots and lots of WRTC instances, but that should not kill the apps wanting just a single high speed WRTC connection. And my gut feeling its that there are many orders of magnitude more apps

[2019-06-19 07:33] nxrighthere commented on #245
@tuexen Any news Michael? This is the only thing that separates me from release, but I can't use the Nagle instead of the relatively fast chunk bundling since my target is low-latency applications.

[2019-06-19 08:02] tuexen commented on #245
We have done initial testing with the kernel stack and we don't see this behaviour. Can you elaborate on how you do the send calls? When are you triggering them?

[2019-06-19 08:11] nxrighthere commented on #245
This happens if I invoke `usrsctp_sendv()` continuously, one call after another for the same association using a small payload with the following parameters for unreliable messages:
[code]

[2019-06-19 08:29] tuexen commented on #245
OK. And you just do this in a loop.
@msvoelker: Can you test with the userland stack as a sender?

[2019-06-19 08:32] nxrighthere commented on #245
Yes, basically it's just a loop which spinning without any pauses using a non-blocking socket.

[2019-06-19 08:36] tuexen commented on #245
OK, a non-blocking socket. That is something we need to take into account. Thanks for pointing it out.
@msvoelker: Does this have an impact on the kernel side?

[2019-06-19 17:29] msvoelker commented on #245
I was able to reproduce the issue.

My usrsctp sender sends for 5 seconds 20 byte messages as fast as possible over a link with a RTT of 200 ms.

With nagle=on, I see the bundled packets as expected.

With nagle=off, I see no bundling for the first packets (which is OK, because probably the app couldn't provide data fast enough), then I see bundling for the next few (< 20) packets. After that, use

[2019-06-19 17:35] msvoelker commented on #245
I wasn't able to reproduce the issue with kernel implementation. I see bundling independently of the socket's blocking mode.

[2019-06-24 18:12] ibc commented on #292
PR does exist: #38. It was just discarded because _"Support for external event loop is being worked on in the NEAT fork or usrsctp to get some experience. This will be merged eventually."_ However [usrsctp-neat](https://github.com/NEAT-project/usrsctp-neat/) is not active at all.

[2019-06-24 18:33] lgrahl commented on #292
AFAIK they are not entirely identical approaches but I don't actually care about which is being merged... obviously, it should be the *better* one. Speaking for myself, I guess one of the reasons why it takes so long is that #38 is huge and should be split up into small, digestible PRs.

[2019-06-24 18:35] ibc commented on #292
Well, we'll do it soon. And will also provide a PR to support GYP. But given that your Meson #300 PR was ignored I don't have any hope.

[2019-06-24 18:45] lgrahl commented on #292
Maybe you should talk to @tuexen and @weinrank on how to approach the issue of backlogged PRs. Luckily, #300 is not a pressing issue for me at the moment.

[2019-06-24 18:47] ibc commented on #292
We'll do separate and specific PRs for both single-thread and GYP support. We'll fight them once done :)

[2019-06-28 12:02] msvoelker commented on #245
I believe I found the reason why usersctp does not bundle. The parameters sndbuf (socket send buffer) and max_chunks_on_queue both have a higher value in kernel implementation than they have in usersctp (which has sndbuf=262144, maxchunks=512). If one of these values is too low, we run in the case where a send call blocks, while sctp does have no data to send. Send call blocks only because there a

[2019-06-28 12:45] nxrighthere commented on #245
I've used `1024 * 1024` for `SO_SNDBUF` and `SO_RCVBUF` which is the same as in the Firefox WebRTC data channels implementation, max chunks parameter was with the default value.

I've tried both: low RTT environment <5 ms and the wireless network with ~100 ms. In high RTT environment performance degrades earlier than in low RTT.

Using these settings, without `SCTP_NODELAY` option there's a better

[2019-06-28 12:45] tuexen commented on #245
Great. Thanks for the analysis!

Once we are done with this analysis, we can bump the default for `max_chunks_on_queue`.

Clarification question: If you don't change `max_chunks_on_queue`, you see the same throughput when keeping the Nagle algorithm enabled and when disabling it?

[2019-06-28 12:52] tuexen commented on #245
What does this mean? The server is transmitting 250,000 messages/sec for some time and then the rate reduces? If yes, for how long do you see 250,000 messages/sec? What is the reduced rate? I assume that you are measuring these rates at the receiver, right?  Can you provide a tracefile for this?

So it is 10,000 messages/sec right from the beginning? Or does it start faster?

[2019-06-28 13:35] nxrighthere commented on #245
The sender thread itself becomes very slow, iterations to send messages in a loop takes a significant amount of time when it reaches this number, `sctp_lower_sosend()` call takes <1-2 ms normally at this rate and when I'm trying to push this limit it takes >10-16 ms. CPU is underutilized during the tests.

With `SCTP_NODELAY` this happens way much earlier since packets are not bundled/multiplexed.

[2019-06-28 13:49] nxrighthere commented on #245
There's was a wrong link, sorry, just fixed it.

[2019-06-28 15:10] tuexen commented on #276
This should be fixed now. If not, please re-open.

[2019-06-28 15:10] #276 closed

[2019-06-28 15:13] nxrighthere commented on #276
Thanks, just built the library. 👍

There are only some problems with example programs like:
[code]

[2019-06-28 15:13] tuexen commented on #255
@weinrank Can you retest this with the current version?

[2019-06-28 15:19] tuexen commented on #276
The `inet_ntop()` problem is related to a missing declaration, I guess. @weinrank : Can you take a look?

The other problem is a bug in gcc on Windows, I guess. `ntohl()` on windows returns an `unsigned long`, whereas `%u` expects an `unsigned int`. However, on Windows, both a 32-bit entities. So gcc should not issue a warning, but unfortunately does. That is why @weinrank disabled the correspondi

[2019-06-28 15:20] nxrighthere commented on #276
Yup, I'm using CMake for building.

[2019-06-28 15:23] nxrighthere commented on #276
For `inet_ntop()` and `inet_pton()` you can grab https://github.com/CoolmanCZ/usrsctp/tree/mingw/programs/mingw from @CoolmanCZ fork. It's under ISC license.

[2019-06-29 07:46] tuexen commented on #233
Using the value of 0 is special, it means that the message a unlimited lifetime. I agree that it seems to be unexpected in the context of `sctp_sendv()`, but the reason is that it is used that way in `sctp_sendmsg()` as specified in [RFC6458](https://tools.ietf.org/html/rfc6458#section-5.3.2) in the description of the `sinfo_timetolive` field.

[2019-06-29 07:46] #233 closed

[2019-06-29 08:15] tuexen commented on #269
If there is still an issue, please re-open.

[2019-06-29 08:15] #269 closed

[2019-06-29 11:47] weinrank commented on #276
@nxrighthere Which MinGW environment do you use?
MSYS? OS?

[2019-06-29 11:49] nxrighthere commented on #276
I'm using [MinGW-W64 GCC-8.1.0 x86_64-posix-seh](https://sourceforge.net/projects/mingw-w64/files/) on Windows directly with CMake.

[2019-06-30 15:23] nxrighthere commented on #316
In my case, a connection cannot be established even if I create address/port translation rule directly in the router. Tried three different machines with Windows 10 and different routers, not luck.

<details>
  <summary>Debug logs</summary>

[code]
</details>

[2019-06-30 15:39] tuexen commented on #316
Which addresses do you have configured on which interface on the machine behind the NAT. It seems that it owns 192.168.1.2. Do you see packets going out that machine? If yes, are you using UDP encapsulation and which SCTP and UDP port numbers are you using? Do you see packets being received by the external host?

[2019-06-30 16:32] nxrighthere commented on #316
Yes, the machine behind the NAT owns 192.168.1.2.

Yes, SCTP is repeatedly sending INIT until ABORT packet.

Server and client are encapsulated using 9925 port in `usrsctp_init()`, and this port number is used for `usrsctp_setsockopt()` w/ `SCTP_REMOTE_UDP_ENCAPS_PORT`, client local adress is bound to `in6addr_any` with randomly generated port, server is listening on all interfaces and 9500 port w

[2019-06-30 17:29] tuexen commented on #316
But you see an SCTP packet some random source port to the destination port number 9500 encapsulated in a UDP packet using 9925 as the source and destination port number encapsulated in IPv4 using 192.168.1.2 as the source address and 2.93.125.139 as the destination address, right? If that is true and if the checksums (IPv4 header, UDP, SCTP) are correct, the problem is not with the SCTP implementa

[2019-06-30 18:11] nxrighthere commented on #316
Yes.

Nope, the source port is random as well while the destination is 9925. In the local network everything works fine, the problem occurs only when an external IP address behind NAT is used. To make sure that the problem is not with the router I just checked another transport which works fine using the same port and translation rule.

![sctp](https://user-images.githubusercontent.com/8279330/604

[2019-06-30 18:41] nxrighthere commented on #316
I just realized that 9925 port number for NAT translation should be used instead of 9500, only then the client is able to establish a connection.

So manual address translation helps, but SCTP itself doesn't map ports?

[2019-06-30 19:23] tuexen commented on #316
Outgoing SCTP/UDP/IP packets should use the port number provided in the `usrsctp_init()` call as the UDP source port number. If that is not happening, then it is a bug. Are you seeing a different behaviour?

Behind a NAT box, an SCTP client should be able to initiate a SCTP/UDP based communication with a host in the Internet without any additional configuration on the NAT box. The SCTP does not in

[2019-06-30 19:43] nxrighthere commented on #316
Everything is correct, yes, I was a bit confused...

Yes, it works as expected, for the client no external steps are required. I have a different problem actually which directly related to:

My case is a quite common thing in multiplayer games where a user is hosting a game server which is listening for incoming connections behind NAT and this requires to manually (or by using UPNP/PMP) set transl

[2019-06-30 21:44] tuexen commented on #316
OK, great. Thanks for the clarification.

Understood. But usrsctp is just an SCTP implementation. You can combine it with NAT traversal tools if you want. This is what WebRTC does, for example, by combining it that STUN/TURN/ICE. But this is not part of any SCTP specification...

[2019-06-30 23:16] nxrighthere commented on #316
Yup, I'll stick with a sort of signaling server as well I think, just was a bit confused with NAT-friendly mode. 👌

[2019-07-01 06:31] msvoelker commented on #245
@tuexen

In my setup, nagle has almost no impact on the throughput (throughput is even a little higher when nagle is off). Raising the maxchunks value does not change that.

@nxrighthere
It is difficult for me to understand the trace file. I guess it is because the loopback interface were used. I cannot figure out which side we see in the trace file.

Maybe I'm able to reproduce the issue in my te

[2019-07-01 11:54] nxrighthere commented on #245
Yes, except for this:

Send rate itself is not changing, this it is important, what's changes is the number of messages that I'm enqueueing for sending in the child loop:

[code]

I've described the problem [here](https://github.com/sctplab/usrsctp/issues/245#issuecomment-506736245) in details. My main concern is that with `SCTP_NODELAY` messages are not bundled, just as you said:

And this leads

[2019-07-01 11:59] stewrtrs commented on #245
Hmm

To me this seems strange. Having SCTP_NODELAY set means please
send my message right away, don’t worry about trying to group messages
together. This is the same thing as TCP_NODELAY.. If you don’t set
either of these, it allows SCTP (or TCP) to attempt to “bundle” your messages
together. The idea of course dates back to TCP and telnet over the network. You
send the first character and then wh

[2019-07-01 12:18] nxrighthere commented on #245
Yes, this is a known behavior of TCP, but as @tuexen said:

We still can bundle messages there because this can be done relatively quickly and without waiting, messages are enqueued one after another without any pauses, `usrsctp_sendv()` is invoked continuously so packets can be efficiently multiplexed without trading time.

[2019-07-01 12:19] stewrtrs commented on #245
sure

If the socket buffer is completely full and your cwnd is smaller than the sb, then
one should still get bundling

R

------
Randall Stewart
rrs@netflix.com

[2019-07-01 12:54] msvoelker commented on #245
Is your message size really 25 bytes? I saw in the trace files also messages of size 27, 28, and 33 bytes.

I think, this is an important detail.
With N=1, you would have a constant send rate of 20 messages per second or one message every 50 ms, right?
With N>1, it becomes different. With N=2, you send 2 messages every 50 ms. This means you send these 2 messages and wait the rest of the 50 ms?
Wha

[2019-07-01 13:05] tuexen commented on #245
@rrs Just as a background information: We figured out that on the userland stack the sysctl variable `net.inet.sctp.maxchunks` is 512 and this results (when using short messages (~20 bytes) and a large RTT (~200ms)) in a transfer where you don't bundle anymore, since this number limits us.

So I'll bump that number for the userland stack once we figured out what is going on here...

[2019-07-01 13:34] nxrighthere commented on #245
Just a small note, ENet does the same job but bundling messages up to full frames below MTU under the same conditions. The Nagle-like timer is not a thing there.

[2019-07-01 14:11] nxrighthere commented on #245
To give you a better visual representation of what happens even without lag simulation, I recorded two videos: [NoDelay](https://drive.google.com/file/d/1dJjQ2cvbnX6xEEv2PsUzLb8pNZ9KIoeM/view?usp=sharing) and [NagleLike](https://drive.google.com/file/d/1p4jZM7jWH5hgbrkjpxLCH0SwGI-Uih5u/view).

[2019-07-01 23:45] ibc opened #322 "usrsctp_getsockopt() always returns -1"
[code]

The remote peer **does** support `SCTP_RESET_STREAMS` (it's Chrome or Firefox, which use usrsctp). However the code above always returns -1. so, unless I'm doing something wrong above, it's kinda useless.

[2019-07-02 07:36] lgrahl commented on #322
Untested but I think you forgot to initialise the length to a valid value. See also [RFC 6525, sec 6.3.2](https://tools.ietf.org/html/rfc6525#section-6.3.2).

[2019-07-02 09:24] ibc commented on #322
This is about `usrsctp_getsockopt()` :)

Cool, so we can read it during the connection and store it somewhere instead of using the non-working `usrsctp_getsockopt()`. Thanks :)

Yes, I know. I just want to avoid a "warn" log in my server.

[2019-07-02 09:48] lgrahl commented on #322
https://github.com/sctplab/usrsctp/blob/e111d19dd609d93a91a60c07a3d3ce26922688b6/Manual.md#socket-options-supported-by-usrsctp

Not marked as readable. But there are probably other ways to read the negotiated extensions.

[2019-07-02 09:51] ibc commented on #322
Good point!

Who knows.

[2019-07-02 10:53] tuexen commented on #322
You can use the `SCTP_RECONFIG_SUPPORTED` socket option to enable/disable negotiation before the association has been established and to check if support was negotiated after the association is up. The value has the type `struct sctp_assoc_value`.

[2019-07-02 13:04] ibc commented on #322
Thanks @tuexen. So I'll use `usrsctp_getsockopt()` with `SCTP_RECONFIG_SUPPORTED`.

BTW do you also mean that `SCTP_RECONFIG_SUPPORTED` should be used in `usrsctp_setsockopt()`?

[2019-07-02 13:07] ibc commented on #322
I don't see that `SCTP_RECONFIG_SUPPORTED` is defined at all:

[code]

=> `error: use of undeclared identifier 'SCTP_RECONFIG_SUPPORTED'`

[2019-07-02 13:16] tuexen commented on #322
Now they are (I was looking at the kernel implementation...): https://github.com/sctplab/usrsctp/commit/aae874823883fac1948e37b5436be496951d885a.

[2019-07-02 13:19] tuexen commented on #322
Yes, you can. But on a one-to-one style socket (`SOCK_STREAM`) you can only use it on the listening socket or on an unconnected socket. In this case, `av.assoc_id` is ignored. When using on a one-to-many style socket (`SOCK_SEQPACKET`), you can use it for all future associations by setting `av.assoc_id` to `SCTP_FUTURE_ASSOC`.

[2019-07-02 15:05] jmillan commented on #322
Hi,

using `usrsctp_getsockopt()` with `SCTP_RECONFIG_SUPPORTED` results on the function returning **-1** many times.

We could just do as in `/programs/` in order to know which features are supported in the association.

https://github.com/sctplab/usrsctp/blob/70b3cd7b759323a86f8341e1baa21fb7a7bc07e7/programs/programs_helper.c#L85

[2019-07-02 15:20] lgrahl commented on #322
Coming back to this:

I hope you set the length now. Otherwise, it can arbitrarily fail.

[2019-07-02 15:20] ibc commented on #322
Thanks @tuexen. We are using one-to-one style socket `SOCK_STREAM` (we use SCTP over DTLS and also SCTP directly over UDP).

May I know the difference between calling `usrsctp_setsockopt(..., SCTP_ENABLE_STREAM_RESET)` and `usrsctp_setsockopt(..., SCTP_RECONFIG_SUPPORTED)`?

[RFC 6525](https://tools.ietf.org/html/rfc6525#section-6.3.1) just defines `SCTP_ENABLE_STREAM_RESET`, `SCTP_RESET_STREAMS`,

[2019-07-02 15:23] ibc commented on #322
The length of what? `usrsctp_getsockopt()` receives a pointer to `socklen_t` so its value is supposed to be set by the lib.

[code]

Note `&paramLen` here.

[2019-07-02 15:24] lgrahl commented on #322
No... have you never worked with `getsockopt` before? http://man7.org/linux/man-pages/man2/setsockopt.2.html

[2019-07-02 15:26] jmillan commented on #322
This is it

[code]

[2019-07-02 15:27] ibc commented on #322
I may pass NULL then, right? I don't want to read any value but just get a proper `ret` 0 or -1 (whether the feature is supported or not).

[2019-07-02 15:39] lgrahl commented on #322
@jmillan Have you tried using `SCTP_RECONFIG_SUPPORTED`?

@ibc Nah. Maybe code is easier to understand (hoping this is the correct place but you can easily verify that with adding a breakpoint): https://github.com/sctplab/usrsctp/blob/579db623fb3cf0b3c80fdc8075d92b03902161dc/usrsctplib/netinet/sctp_usrreq.c#L4237:L4263

[2019-07-02 15:52] ibc commented on #322
Yes, we have tested `SCTP_RECONFIG_SUPPORTED`:

[code]

It **always** returns 0, even for SCTP clients not supporting RE_CONFIG.

[2019-07-02 16:23] lgrahl commented on #322
Just hacked this into RAWRTC and it works fine:

[code]

`option_value.assoc_value` is `1` if supported, `0` if not.

[2019-07-02 16:26] ibc commented on #322
ooohhh, my fault. So it's not the returned value of `usrsctp_getsockopt()` what must be checked, but `option_value.assoc_value`!!!

Let me check!

[2019-07-02 16:33] ibc commented on #322
Thanks @lgrahl, stupid wrong usage here, it works perfectly as you said :)

[2019-07-02 16:44] ibc commented on #322
Thanks @tuexen and @lgrahl, this is working. Let's close the issue.

[2019-07-02 16:44] #322 closed

[2019-07-02 17:36] tuexen commented on #322
The return value only tells you if the get operation was successful or not. It is not an indication of the value. See the example from @lgrahl how to use it (thanks a lot for providing it!).

[2019-07-02 17:39] ibc commented on #322
Yes, sure, it's clear and working now. Thanks!

[2019-07-03 06:58] msvoelker commented on #245
Does this mean, when your N is large and your loop (with the usrsctp_senv() call in it) takes longer than 50 ms, your time delta becomes zero?
If so, you don't wait at all and send messages as fast as possible, right?
Since you increase N, you will always end up in this case, or do you have an upper limit for N?

When my assumptions are correct, we have this send behavior.
[code]

[2019-07-03 07:56] jmillan commented on #322
Thanks @tuexen, @lgrahl!

[2019-07-03 08:32] nxrighthere commented on #245
It will still keep increasing with tiny wait intervals between batches until I stop it. Send rate itself not changes until the main thread itself becomes slower due to the increasing cost of the operations under the hood of `usrsctp_sendv()`.

[2019-07-03 08:53] tuexen commented on #245
Are all N `usrsctp_sendv()` calls successful? Are you ensuring that you call `usrsctp_sendv()` N times successfully or are you just calling it N times?

[2019-07-03 09:01] nxrighthere commented on #245
If `EWOULDBLOCK` occurs and if a message is unreliable I just keep invoking `usrsctp_sendv()` with the same delays between batches.

[2019-07-03 09:18] tuexen commented on #245
So you are using reliable and unreliable messages? Which policies do you use?

[2019-07-03 09:40] nxrighthere commented on #245
For reliable messages, I'm using default options without changing anything it's just `sctp_sendv_spa` with `snd_sid` and `snd_ppid`, for unreliable [these](https://github.com/sctplab/usrsctp/issues/245#issuecomment-503455643) parameters. Enabled extensions: PR, NR-SACK, and SACK-IMMEDIATELY.

[2019-07-03 12:59] msvoelker commented on #245
Could you please provide the source code of the implementation that includes SCTP, such that I'm able to reproduce the issue?

If you don't want to publish the source code, you can send it directly to me. My e-mail address is timo.voelker@fh-muenster.de.

[2019-07-03 13:22] nxrighthere commented on #245
I think I can create a bare minimum application for you and then send it, but it will take some time...

[2019-07-05 06:09] msvoelker commented on #245
That would be great. The simpler the better.

[2019-07-18 22:27] shiretu opened #325 "Possible deadlock/infinite wait"
Hi all,

We are running https://github.com/sctplab/usrsctp/commit/bc6a2d19ebc57cbae6fc1f118b64c15d29c5a32a currently. At some point, while doing ingest, we get into a deadlock/infinite wait in this function:

`sctp_os_timer_stop`

Here is the stack trace (I have eliminated the frames originating into our side of the software and only left `ConsumeSCTPRawData` which belongs to us):

[code]

[2019-07-18 22:40] shiretu commented on #325
I suspect that this is where it blocks:
https://github.com/sctplab/usrsctp/blob/bc6a2d19ebc57cbae6fc1f118b64c15d29c5a32a/usrsctplib/netinet/sctp_callout.c#L203

For that to get unblocked, 3 things MUST happen:

1. `sctp_handle_tick` must be called
2. `c->c_time <= ticks`
3. `sctp_os_timer_waiting != 0`

Missing one of these mandatory conditions produces that deadlock

[2019-07-19 13:32] tuexen commented on #325
On which OS is this happening? When this happens, what is the CPU usage (are we in an endless loop or are we in a deadlock waiting for something which never happens)?
When this happens, can you report where all threads are at? That might help?

[2019-07-19 15:33] shiretu commented on #325
This is a linux install based on debian 9 for aarch64. I have sent the required information via email.

[2019-07-19 15:38] shiretu commented on #325
the CPU load is 0.00%

[2019-07-19 17:38] tuexen commented on #325
@peterlei This is something you might be interested in looking into... I have a stacktrace @shiretu shared privately...

[2019-07-21 20:50] shiretu commented on #325
Hey guys,

Because we have tens of thousands of deployments of that particular version in the wild, we had to come up with a way to dirty-fix the deadlock. I'm using `pthread_cond_timedwait` instead of `pthread_cond_wait` with 0.5sec timeout. When timeout is fired, I just inform the app via the newly added `SCTP_BASE_VAR(deadlockSignal)` that it will commit suicide and then brutally call `exit()`.

[2019-07-23 09:00] lgrahl opened #327 "Apply checksum by default on loopback"
Something that caught me off guard while developing my micro SCTP stack is that the CRC32C checksum is not being applied by default. Simple question with a simple fix: Shouldn't `usrsctp_sysctl_set_sctp_no_csum_on_loopback` be set to `0` by default?

[2019-07-23 10:15] tuexen commented on #327
In the kernel stack this means you are talking to yourself without a network being involved, so it is a performance optimisation. So are you having problems with this setting?

[2019-07-23 10:34] lgrahl commented on #327
The issue was that my stack discarded all packets coming from usrsctp since both were running on raw sockets on the same machine.

Makes sense to not do it in the kernel, so perhaps we could just apply the checksum by default in userland?

[2019-07-23 10:46] tuexen commented on #327
So running two stacks on the same machine with "out of the blue handling" disabled?

[2019-07-23 10:55] lgrahl commented on #327
Not sure I can follow. Does OOTB play a role in that scenario? Basically, I received a packet with the expected destination port containing an `INIT` (or `INIT ACK`, I'm using simultaneous open) with a zero checksum which my stack rejected because the checksum doesn't match.

[2019-07-23 14:04] tuexen commented on #327
The point you might be missing is the following: Assume you ran two SCTP stack (S1 and S2) on the same host. Now S1 sends an INIT to the loopback address. It is received by both stacks. So S2 will respond with an INIT-ACK, S1 will respond with an ABORT. And this will terminate the connection.

So for this scenario, a stack must not send an INIT to packets it does not expect. This is what I meant b

[2019-07-23 15:04] lgrahl commented on #327
Ah, yes, that makes sense. Okay, so in this case there is no kernel stack and both SCTP stacks operate in client mode, therefore only listen on their assigned ports. So, OOTB handling should not affect this scenario.
That being said, in reality OOTB handling will usually be enabled and thus it doesn't really make sense to operate two SCTP stacks on the same machine. Hence, this optimisation only a

[2019-07-23 15:21] tuexen commented on #327
If you follow that spec, you MUST do OOTB handling. It doesn't matter if you are client or server.

OK. Will think about it a day or two.

[2019-07-26 04:06] nxrighthere commented on #276
Can't build the library from master with the latest changes, too many errors.

[2019-07-26 08:55] lgrahl commented on #276
Yeah. I really do suggest [taking my CI files](https://github.com/rawrtc/usrsctp/commit/f04f4eae42bfa591fc1e60866d5876c890f3397d), so you're able to detect breaking changes with each commit made. I can help you setting it up, @tuexen & @weinrank.

[2019-07-26 10:19] tuexen commented on #276
@weinrank: Do we have MinGW on a buildbot? If yes, are we detecting the problems?
@nxrighthere What errors do you see?

[2019-07-26 11:07] lgrahl commented on #276
I mean, being able to see the build status on GitHub, like here (click the X next to the commit): https://github.com/rawrtc/usrsctp/commits/meson-test

You can see the build error here: https://circleci.com/gh/rawrtc/usrsctp/191?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-26 13:41] weinrank commented on #276
@tuexen I have an MSYS/MinGW buildbot for internal use but it's not yet exposed to the public buildbot interface.
This is because I'm still not sure if I'm using the "correct" MinGW setup. I'm not an expert in this area.

I've modified and successfully tested the usrsctp library in a MSYS2 environment using the MinGW64 shell. That's what have been merged recently.

Now I've set up a fresh Windows

[2019-07-26 15:53] nxrighthere commented on #276
There's only one left now:
[code]

You can grab the implementation from [here](https://github.com/nxrighthere/ENet-CSharp/tree/master/Source/Native/mingw).

[2019-07-27 01:53] #327 closed

[2019-07-27 01:54] tuexen commented on #327
OK, I think this is similar to disabling the OOTB handling via `usrsctp_sysctl_set_sctp_blackhole(2)`. So I added a corresponding `usrsctp_sysctl_set_sctp_no_csum_on_loopback(0)` to the programs. Both settings are affect the usecase of running multiple instances of an SCTP stack on a single host.

[2019-07-27 01:55] tuexen commented on #255
@weinrank Ping.

[2019-07-28 20:12] tuexen commented on #276
@nxrighthere This should be fixed by https://github.com/sctplab/usrsctp/commit/1a0619db218f6804bfd3c420b71a4422a7da17d7. Does it work for you?

[2019-07-28 22:32] weinrank commented on #255
Part of the problem still exists.

[code]

[code]

[2019-07-29 00:06] tuexen commented on #255
Please provide (privately) how I can reproduce the issue locally.

[2019-07-29 00:24] nxrighthere commented on #276
I've tried to include it before your commit, no luck, it's still there. 😿

[2019-07-29 00:36] tuexen commented on #276
OK, then I think the problem is in `user_atomic.h`:
[code]
Can you figure out which prototype is needed on you platform and whether `__MINGW32__` is defined or not? Maybe it should be:
[code]
or
[code]

[2019-07-29 00:53] nxrighthere commented on #276
I believe it should be:
[code]

By the way, MinGW x64 is compatible with `__MINGW32__`.

There's are more errors appears along the road:
[code]

[2019-07-29 13:48] weinrank commented on #276
@nxrighthere Please test PR #329

It seems that MinGW sets Windows 2003 Server as the oldest supported windows version.
Support for `inet_pton` and `inet_ntop` was introduced for Windows Vista and newer.
Since even Windows Vista is out of support, I've set the minimum supported (API) version to Windows 7.

In addition I've fixed the compile issues you mentioned above.

[2019-07-29 20:25] lgrahl commented on #276
At least the Meson MinGW build is fixed with #329.

[2019-07-29 23:26] whrtqa opened #330 "How Can I select Congestion Control mode?"
hello:
sctp has some Congestion Control algorithm defined，below.

/* Standard TCP Congestion Control */
#define SCTP_CC_RFC2581         0x00000000
/* High Speed TCP Congestion Control (Floyd) */
#define SCTP_CC_HSTCP           0x00000001
/* HTCP Congestion Control */
#define SCTP_CC_HTCP            0x00000002
/* RTCC Congestion Control - RFC2581 plus */
#define SCTP_CC_RTCC            0x00000003

[2019-07-29 23:46] whrtqa commented on #297
@shiretu
hello,coul you tell me where can I set HSTCP CC,I can't find the code.
Please,Thank you!

[2019-07-30 01:24] shiretu commented on #297
@whrtqa : Pick one:

[code]

[2019-07-30 02:53] whrtqa commented on #297
@shiretu ,Thanks very much!!!

[2019-07-30 02:55] whrtqa commented on #330
thanks ,it's solved!!!

[2019-07-30 02:55] #330 closed

[2019-07-30 05:17] nxrighthere commented on #276
@weinrank Works like a charm, thanks!

Support for inet_pton and inet_ntop was introduced for Windows Vista and newer.
Since even Windows Vista is out of support, I've set the minimum supported (API) version to Windows 7.

Interesting, I didn't know about this. 🤔

[2019-07-30 10:32] rgbmrx opened #331 "Controlling list of source addresses in INIT chunk"
Have Client/Server link between two machines using SCTP in multi-homing mode.
Client on QNX has 6 NICs but only want 2 of those source interface IPs ending up in the INIT.
Is binding the way to ensure this even though you only ever see this on the server side.
thanks

[2019-07-30 10:44] tuexen commented on #331
You might want to try `sctp_bindx()`. But the routing must be configured appropriately, since the userland stack does not maintain an up to date copy of the routing table.

[2019-07-31 05:49] rgbmrx commented on #331
Thanks for that.

[2019-07-31 05:49] #331 closed

[2019-08-01 08:12] ibc opened #333 "Make *addr be NULL in global send callback"
Even if undocumented, the second argument of `usrsctp_init()` (used for SCTP over UDP/DTLS) looks as follows:

[code]

The `addr` pointer gives a chance for the app to identify with "SCTP association" this data refers to. However, there are cases in which I'am deleting/freeing such a "SCTP association" and called `usrsctp_close(socket)` on it, and such a call to `usrsctp_close(socket)` will produc

[2019-08-01 13:07] tuexen commented on #333
`usrsctp_deregister_address()` doesn't change any pointer stored somewhere. Look at it like an IP-Address. You just say that the application does not refer it it anymore and therefore the implementation might free it, if there are no other references to it.

`usrsctp_close()` will trigger a graceful or non-graceful shutdown based on the setting of the SO_LINGER socket option (this is just the norm

[2019-08-01 14:09] ibc commented on #333
Thanks @tuexen. I understand what you say. Just to re-confirm:

Regardless I configure SO_LINGER to do graceful or non-graceful shutdown, I understand that there is **no way** to avoid that `usrsctp_close()` invokes the global send callback or, at least, that it invokes the global send callback with `addr = NULL`, is that correct?

Thanks a lot.

[2019-08-01 15:05] tuexen commented on #333
You are right, calling `usrsctp_close()` will trigger the sending of at least one packet.

[2019-08-01 15:18] ibc commented on #333
Thanks.

[2019-08-01 15:18] #333 closed

[2019-08-01 19:53] #255 closed

[2019-08-02 09:00] weinrank opened #335 "warning: comparison of integer expressions of different signedness"
Platform: RPI 2
OS: Ubuntu 32 Bit
Uname: `Linux raspberrypi 4.19.50-v7+ #896 SMP Thu Jun 20 16:11:44 BST 2019 armv7l GNU/Linux`
CC:
[code]

[code]

[2019-08-02 09:06] tuexen commented on #335
Any idea why this shows up now? I don't think the code has changed. So a new version of gcc?

[2019-08-02 09:39] weinrank commented on #335
I think this issue is related to the 32 bit architecture.
We currently don't have a 32 bit machine in the buildbot setup, I'll add an 32 Bit RPI in our buildbot setup.

[2019-08-02 09:53] tuexen commented on #335
Hmm, but the issues are not about size mismatch (`sizeof(int) != sizeof(long)`), but are all related to signedness issues. So are you using a different compiler flags or a new (or old) compiler?

Are you referring to a RPI4 (like the one sitting on my table)?

[2019-08-02 19:13] mstyura commented on #325
I've experienced an issue with `SCTP Timer` thread which consumes `100%` of `CPU` on version [`1c9c82fbe3582ed7c474ba4326e5929d12584005`](https://github.com/sctplab/usrsctp/commits/1c9c82fbe3582ed7c474ba4326e5929d12584005). Unfortunately I have no more information, because on that version I've used `usrsctp` library compiled with no debug information (without `-g` switch).

After update to version

[2019-08-02 20:07] tuexen commented on #325
@peterlei Does this look like another instantiation of the deadlock you are debugging?

[2019-08-05 17:42] dreibh opened #336 "Build failure with -Wsign-compare -Werror (default on Ubuntu for ARM builds)"
Building fails on Ubuntu for ARM, due to signed/unsigned comparison warning (handled as error by default):

/<<PKGBUILDDIR>>/usrsctplib/netinet/sctp_output.c: In function ‘sctp_lower_sosend’:
/<<PKGBUILDDIR>>/usrsctplib/netinet/sctp_output.c:13898:14: error: comparison between signed and unsigned integer expressions [-Werror=sign-compare]
   if (sndlen > asoc->smallest_mtu) {
              ^
/<<PK

[2019-08-05 17:46] tuexen commented on #336
I think this is a duplicate of #335.

[2019-08-05 17:47] #336 closed

[2019-08-06 07:12] #335 closed

[2019-08-06 10:43] dreibh opened #337 "Clang build issue on Debian Stretch and Ubuntu Xenial: "Could NOT find Threads (missing: Threads_FOUND)""
usrsctp fails to build on Debian Stretch and Ubuntu Xenial, when using Clang instead of GCC:
Could NOT find Threads (missing: Threads_FOUND)
(When using GCC, everything is fine.)

Using CMake run:
...
-- Compiler flags (CMAKE_C_FLAGS):    -std=c99 -pedantic -Wall -Wextra   -Wno-address-of-packed-member   -Werror
-- enabling verbose outout
-- Looking for pthread.h
-- Looking for pthread.h - not fou

[2019-08-06 10:50] dreibh commented on #292
Is there any update on merging the changes of usrsctp-neat, or making libneat work with the upstream version of usrsctp?

[2019-08-06 11:01] tuexen commented on #337
Do you have a proposed fix?

[2019-08-06 11:02] tuexen commented on #292
I'm not sure if anyone is working on neat right now...

[2019-08-06 11:23] ibc commented on #292
Hi, we forked usrsctp and added "single-thread" support. It's identical to PR #38 but does not include changes other than those to allow single thread operation:

https://github.com/sctplab/usrsctp/compare/master...versatica:single-thread

We are using it and works fine. Would you accept a PR?

[2019-08-06 11:29] tuexen commented on #292
If it is a PR adding only that feature and not breaking backwards compatibility, I would love to integrate it.

[2019-08-06 12:42] ibc commented on #292
Great, will do it soon.

El mar., 6 ago. 2019 13:29, Michael Tüxen <notifications@github.com>
escribió:

[2019-08-06 12:51] weinrank commented on #337
Doesn't look like problem directly related to usrsctp.
Please post the complete output from cmake.

[2019-08-06 12:55] weinrank commented on #337
Quick'n'dirty try:
Change [this](https://github.com/sctplab/usrsctp/blob/1c34f3d6e7dcb5bf3534bc6559487184577b1d7f/CMakeLists.txt#L32) line from:

```project(usrsctplib)```

to

```project(usrsctplib C)```

[2019-08-07 08:03] jmillan commented on #292
@tuexen,

Please find the PR #339 synchronised with master branch. It's essentially a cleanup of #38 with everything filtered but the the single thread implementation.

I can squash the commits into a single one if you like.

[2019-08-07 23:23] whrtqa opened #341 "LTE net"
sctp send buffer very slow in the LTE net ,

RTT min 67ms
RTT max 166ms

OS:windows 7

bandwith use by TCP is 30MB,use sctp only 1.6MB

I have set some parameters like
usrsctp_sysctl_set_sctp_sendspace()
usrsctp_sysctl_set_sctp_recvspace()
usrsctp_sysctl_set_sctp_initial_cwnd()
usrsctp_sysctl_set_sctp_default_cc_module()
but none of them can solve the problem.
could you helpe me ,tell me which par

[2019-08-07 23:28] whrtqa commented on #341
Send buffer very slow in the LTE net

RTT min 67ms
RTT max 166ms

The bandwith ransport by TCP is 26MB,use stcp only 1.6MB
which parameter could Solve the problem。
OS:windows 7

[2019-08-08 06:33] whrtqa opened #343 "sctp send buffer very slow in LTE and wifi"
sctp send buffer very slow in the LTE net  and wifi.

RTT min 67ms
RTT max 166ms

OS:windows 7

bandwith use by TCP is 30MB,use sctp only 1.6MB

I have set some parameters like
usrsctp_sysctl_set_sctp_sendspace()
usrsctp_sysctl_set_sctp_recvspace()
usrsctp_sysctl_set_sctp_initial_cwnd()
usrsctp_sysctl_set_sctp_default_cc_module()
but none of them can solve the problem.
could some one helpe me ,tel

[2019-08-08 06:33] #341 closed

[2019-08-08 07:03] tuexen commented on #337
@dreibh: Does this problem still exists in the master branch after https://github.com/sctplab/usrsctp/commit/14827005771d81e539419d31147e7ec996097afa?

[2019-08-08 07:29] dreibh commented on #337
Hi,

the problem is solved now for both, Debian Stretch and Ubuntu Xenial.

Den 08.08.2019 09:03, skrev Michael Tüxen:

--
Best regards / Mit freundlichen Grüßen / Med vennlig hilsen

=======================================================================
 Thomas Dreibholz

 Simula Research Laboratory A/S
 SimulaMet — Simula Metropolitan Centre for Digital Engineering
 Centre for Resilient Network

[2019-08-08 07:53] #337 closed

[2019-08-08 07:54] tuexen commented on #337
Thanks for the feedback.

[2019-08-08 08:23] lgrahl commented on #343
Duplicate of #297 (although that issue is arguably badly named).

[2019-08-08 08:33] whrtqa commented on #343
@lgrahl
yes ,we have the same problem.
mybe this is a bug.
when RTT increase then speed reduction always obvious
when RTT  unstabitily then speed reduction.
FTP works very well,but sctp very worse.

[2019-08-08 09:25] tuexen commented on #343
What is the (average) message size you are using?

[2019-08-08 11:45] whrtqa commented on #343
@tuexen ,thank you !
I don't know which is " the (average) message size"?
where to set it?
I have search the words message in the file of  "Manual.md"
and there is nothing like "the (average) message size"
how can i set "the (average) message size"?
Thank you for a lot!!!

I set some parameter below
usrsctp_sysctl_set_sctp_sendspace(1024*1024*3);
usrsctp_sysctl_set_sctp_recvspace(1024*1024*3);
usr

[2019-08-08 11:52] tuexen commented on #343
I'm referring to the size (number of bytes) of the user messages you are providing when call `usrsctp_sendv()` or other send calls...

[2019-08-08 12:07] whrtqa commented on #343
I send message size of 1K and 10K .
I'll try size of  1MB  tomorrow.

[2019-08-08 12:49] tuexen commented on #343
Try increasing the `sctp_max_chunks_on_queue sysctl` variable... It might be too low. Something like
[code]
I don't think increasing the message size will gain you anything.

[2019-08-08 20:30] shampson opened #345 "receive_cb not called when sending 256 kB"
We're trying to roll in the latest usrsctp into webrtc, and it is causing regressions in a PeerConnection unit test. I did a bisect and found the commit that causes the failure: https://github.com/sctplab/usrsctp/commit/be8e0ebaed64508599086f5c5795e13dace9e308

What's happening is the data comes in chunks via the callback (see logs below), but we never get a callback for the final chunk. This call

[2019-08-08 20:36] shampson commented on #345
@lgrahl Maybe you know who is best to look into this. Thanks!

[2019-08-08 23:00] benjwright opened #346 "timingsafe_bcmp only defined for macOS 10.12.1 or newer"
Compilation on macOs failure with: usrsctp/usrsctplib/usrsctplib/netinet/sctp_auth.c:1733:6: error: 'timingsafe_bcmp' is only available on macOS 10.12.1 or newer [-Werror,-Wunguarded-availability]

[2019-08-09 06:43] tuexen commented on #346
Which versions of Mac OS do you support?

[2019-08-09 08:07] lgrahl commented on #345
Can you provide a pcap file of the SCTP packets for both cases (broken and working)?

[2019-08-09 17:07] shampson commented on #345
Yup!

https://drive.google.com/drive/folders/1bzcKv9uwMYPh5qEkufKyrodMOY1TjOIV?usp=sharing

[2019-08-09 19:05] benjwright commented on #346
Hi tuxen, Chrome currently supports OS X Yosemite 10.10 or later. https://support.google.com/chrome/a/answer/7100626?hl=en

[2019-08-09 21:29] whrtqa commented on #343
@tuexen
Thave set message size to 1024*1024*2;
usrsctp_sysctl_set_sctp_max_chunks_on_queue(10240);
The problem has not been solved.

My computer connects to the router through a network card，and the sctp at a speed of 20MB/S.
RTT Aerage=25ms， and  RTT Very stable
The same computer uses WiFi to connect to the same router ,and the sctp at a speed of 6MB/S
RTT Average=36ms, and  RTT  min=27ms max=76m

[2019-08-10 01:23] benjwright commented on #256
Has this issue been resolved or is this still an active issue?

[2019-08-10 06:10] tuexen commented on #256
I consider it active... @weinrank: Can you still reproduce it?

[2019-08-10 18:46] tuexen commented on #346
@benjwright What do you think about using https://github.com/sctplab/usrsctp/commit/0509d636a162f6fc06265224ecc2b677a5b31410.

When using the sources in the FreeBSD kernel, the available `timingsafe_bcmp` is used. One could add a macro to provide platform specific versions of it, but in the end we will provide a private version for Mac OS X unless you only build for 10.12.1 or newer, which is not

[2019-08-10 18:57] benjwright commented on #346
Yep that works as well. Thanks for your help!

On Sat, Aug 10, 2019, 11:46 AM Michael Tüxen <notifications@github.com>
wrote:

[2019-08-10 20:02] #346 closed

[2019-08-10 20:02] tuexen commented on #346
Thanks for the feedback. Merged.

[2019-08-12 02:41] whrtqa commented on #343
wireless USB adapter is netgear WNA3100
![image](https://user-images.githubusercontent.com/50225221/62843608-aa2f2c00-bced-11e9-8cba-9c79ab26a1d8.png)

[2019-08-12 02:46] whrtqa commented on #343
n LET environments, the results are slower.

We can find some problems from the comparison between WiFi and network card, which may be related to RTT.

[2019-08-12 08:57] weinrank commented on #256
The fuzzer runs on an Linux machine since Friday, currently it didn't happen again.
I'll try to reproduce it on FreeBSD.

[2019-08-12 19:22] shampson commented on #345
Has anybody given this a look? This is part of a merge requirement for chromium.

[2019-08-12 20:50] tuexen commented on #345
I looked at the .pcap files. They look strange... It seems that every packet is included at least twice, but with different IP addresses... So what stack are you using? I seems that you provide faked lower layers. Please just provide the SCTP packets, preferable with direction information. The `usrsctp_dumppacket()` provides everything you need to process with `text2pacp` to generate a .pcapng fil

[2019-08-13 00:10] shampson commented on #345
The test I noted in the issue is the most simple repro I've made so far. I was able to debug the issue in wire shark with fake wrapped UDP headers and found that the very last DATA packet sent is missing the EOR bit being set. Before the culprit commit (success pcap) this bit is set. Is there an API change or reason that this isn't getting set?

Here are the raw SCTP pcaps:
- [broken.pcapng](https

[2019-08-13 07:04] tuexen commented on #345
@shampson I assume you log the SCTP packets using `usrsctp_dumppacket()`. Is that correct?
If that is correct, assume the logging output is in a text file with name `file.log`. Then do
[code]
to generate a text file which contains only the textual description of the SCTP packets. To convert this to a `.pcapng` file, run
[code]
The file `sctp.pcapng` should be readable by wireshark, contain the dir

[2019-08-13 12:28] ibc opened #349 "single-thread API: add usrsctp_get_timeout()"
PR #339 makes usrsctp work in single thread environments by forcing the application call `usrsctp_handle_timers()` periodically. While it's good enough (it does work), the optimized way of doing it would be by having an API like [DTLSv1_get_timeout()](https://commondatastorage.googleapis.com/chromium-boringssl-docs/ssl.h.html#DTLSv1_get_timeout) and [DTLSv1_handle_timeout](https://commondatastorag

[2019-08-13 17:16] shampson commented on #345
@tuexen yes this is how I am generating the logs and filtering them. Looks like my text2pcap command was missing the -l 248 flag to specify the link layer header type:
[code]

Success, adding this flag worked! Thank you!

Here are the updated pcapng files:

- before culprit commit: [success_sctp.pcapng](https://drive.google.com/open?id=1FupMVDxtO5cePHRKw-nFxOFhBOrG6ZyZ)
- after culprit commit, whi

[2019-08-13 18:16] tuexen commented on #345
@shampson OK. The tracefiles are very good now. Thanks for updating them.

Both tracesfiles show 223 DATA chunks carrying 1172 bytes of payload each. This makes 260184 bytes. The last transmitted DATA chunk in the good case carries 788 bytes of payload (and the last fragment marker), which results in 260972 bytes of payload. How does this relate to your statement of sending a user message of 256 k

[2019-08-13 18:49] tuexen commented on #345
@shampson Since you nailed down the problem to https://github.com/sctplab/usrsctp/commit/be8e0ebaed64508599086f5c5795e13dace9e308, could you test with a version which includes all changes from that commit **except** the changes in `sctp_output.c`? I would expect that the test case works in this case based on looking at the changes...

My current guess is that the problem is related to the change i

[2019-08-13 19:17] tuexen commented on #292
@lgrahl Can this be closed since we have https://github.com/sctplab/usrsctp/commit/f6aa4b0859f7e55c9dc092f2d047d1129e09d66b in the master tree now?

[2019-08-13 19:21] tuexen commented on #256
OK, then I close this now and assume it is fixed. If the problem can be reproduced by future fuzz testing, we can open a new issue.

[2019-08-13 19:21] #256 closed

[2019-08-13 19:22] tuexen commented on #256
Since @weinrank can't reproduce it anymore, I have closed the issue. If it is found again, we'll open a new Issue (or reopen this one).

[2019-08-13 19:49] shampson commented on #345
@tuexen to answer your question, we are calling it once for a user message of size 256 * 1024 (done [here](https://cs.chromium.org/chromium/src/third_party/webrtc/media/sctp/sctp_transport.cc?l=559).

Thanks a lot for investigating this Michael! I tested without the changes to to `sctp_output.c` and you are correct, is what causes the problem.

[2019-08-13 19:52] lgrahl commented on #292
Yup. If there's anything missing, I'll reopen.

[2019-08-13 19:52] #292 closed

[2019-08-13 21:53] tuexen commented on #345
Can you also apply the changes to `sctp_output.c`, but change back the setting of `max_len` to the old version. In other words: Am I right that the problem is caused by the change I highlighted above?

[2019-08-13 22:16] shampson commented on #345
I don't follow, what old version are you referring to for the changing the setting of `max_len`?

I think the change you highlighted above is the culprit, given that when I remove this change the culprit commit now passes the test.

[2019-08-14 07:19] tuexen commented on #345
OK. Thanks for the clarification. Will try to figure out why this is going wrong.

[2019-08-14 16:51] shampson commented on #345
@tuexen Thank you!

To clarify these are the results of running the test with culprit commit https://github.com/sctplab/usrsctp/commit/be8e0ebaed64508599086f5c5795e13dace9e308:

- Normal case: **Failure**
- `sctp_output.c` reverted one commit back: **Pass**
- Remove `sctp_output.c`  `max_len` highlighted change : **Pass**

So yes, it looks like the `max_len` change is the culprit for that missing

[2019-08-14 17:17] tuexen commented on #345
@shampson OK. Thanks for the clarification. I tried to reproduce the issue locally but was not successful. I would like to understand what is going wrong instead of just reverting the change.

Would it be possible for you to run the test with additional debug output and provide that?

[2019-08-14 19:03] shampson commented on #345
@tuexen Yes, are you referring to debug output from the sctp lib when running the test?

[2019-08-14 19:23] tuexen commented on #345
@shampson I'm referring to that and to potentially additional output I would provide a patch for... If that is possible, it would be a great help. I'll try to bring up a patch with additional output, just this week being very busy with my day job...

[2019-08-14 21:07] shampson commented on #345
Okay, here are the logs from the isolated test case:
- [sctp_lib_debug_broken.log](https://drive.google.com/open?id=1AkEpSo9yidLhhaxRp0evtDg7sN6mBGfL)
  - one commit behind the culprit commit
- [sctp_lib_debug_success.log](https://drive.google.com/open?id=1r6VBu741JqebNW1IzY6FW66PtqAx0KDp)
  - same commit, but incorporating the breaking `max_len` change in `sctp_output.c`

Let me know about the pa

[2019-08-15 16:52] lgrahl commented on #297
A word of warning regarding HTCP: I can reproduce a segfault with my benchmark tool.

[code]

[2019-08-15 17:11] lgrahl commented on #292
Works well - thanks a lot!

[2019-08-19 20:49] benjwright commented on #345
Hi tuexen, I have added a minimal pull request to address the issue. I traced back the issue into FreeBSD and I am a little concerned about going with this fix given that this issue was originally intended to address a fuzzing issue.

I think the best next steps here are to understand why this change in max_length was added in the first place and whether we need more safeguards around its calculat

[2019-08-20 15:32] mstyura commented on #325
Hi, @tuexen, @peterlei, @shiretu

I've managed to reproduce deadlock inside [usrsctp](https://github.com/sctplab/usrsctp/) again.
This time I've used version [c82439d5c9e1aaba004785809d3910a1feadcb8f](https://github.com/sctplab/usrsctp/tree/c82439d5c9e1aaba004785809d3910a1feadcb8f/) with was properly compiled to enable necessary debugging information.
Below you may find my investigation story of a

[2019-08-21 07:51] mstyura commented on #325
It looks like `sctp_os_timer_wait_cond` causing deadlock
https://github.com/sctplab/usrsctp/blob/c82439d5c9e1aaba004785809d3910a1feadcb8f/usrsctplib/netinet/sctp_callout.c#L203-L204
was introduced in this commit https://github.com/sctplab/usrsctp/commit/a7c290275a0f8a164c132396b34f46e295c193f7 (25 March 2019)

[2019-08-21 12:40] mstyura commented on #325
Hi @shampson and @benjwright, I've seen you are on the way to update `usrsctp` version used by `Chromium`. I just wanted to let you know that this issue might be also need to be fixed before `Chromium` & `WebRTC` can update to new version of `usrsctp`.
https://github.com/webrtc/samples/issues/1216#issuecomment-522070734
https://github.com/sctplab/usrsctp/pull/350

[2019-08-21 17:10] tuexen commented on #345
@shampson Aren't you using the explicit EOR mode? I think you enable it in [sctp_transport.cc:752](https://cs.chromium.org/chromium/src/third_party/webrtc/media/sctp/sctp_transport.cc?type=cs&q=webrtc/media/sctp/sctp_transport.cc&g=0&l=752). If that is true, then you don't check the return value of `usrsctp_sendv()` whether the whole message has been accepted by the SCTP stack or not in [sctp_tran

[2019-08-21 18:51] lgrahl commented on #345
Jeroen de Borst enabled explicit EOR mode on the way to https://bugs.chromium.org/p/webrtc/issues/detail?id=7774, probably due to confusing `MSG_EOR` with the explicit EOR mode when sending.

[2019-08-21 19:27] shampson commented on #345
@lgrahl what bottom two changes can be reverted? Do you mean remove setting the explicit EOR mode for `usrsctp_sendv()` as well as `usrsctp_setsockopt()`?

This is my understanding, please correct me if I'm wrong. There are 3 places EOR was introduced in that [change](https://webrtc-review.googlesource.com/c/src/+/88900) from Jeroen.
1. **MSG_EOR**: Checking EOR on the receive side in order to to

[2019-08-21 21:32] tuexen commented on #345
@lgrahl You are right.
@shampson You have to distinguish the send path and the receive path. One the receive path you have always to check for MSG_EOR since partial delivery can almost always happen. You have no choice here. On the send path you do have a choice. The default is that send calls are atomic which limits the maximum user message size to the size of the send buffer. To overcome this li

[2019-08-21 22:14] markwo opened #351 "NULL deref crash in m_copydata"
While working on a fuzzer for usrsctp, I hit a SEGV accessing a NULL pointer. The PCAP is attached - output and stack trace of the crash are below.

I'm cleaning up the fuzzer currently - can share the code if you need it to repro. (Would also like to eventually get this fuzzer added to the repo as an OSS-Fuzz target).

[code]
[null_deref.zip](https://github.com/sctplab/usrsctp/files/3527537/null_

[2019-08-21 22:23] weinrank commented on #351
Hey @markwo,

I'm interested in your fuzzer code. We're already fuzzing our project with libfuzz and are preparing it for OSS-FUZZ integration.
Additional fuzzers are welcome! :)

Please send an email to weinrank@fh-muenster.de

best regards

[2019-08-21 22:23] markwo opened #352 "CPU DoS (infinite loop) in sctp_send_cookie_echo"
While working on a fuzzer for usrsctp, I hit a timeout due to an infinite loop in the target/receiver endpoint. The PCAP is attached - output and stack trace of the timeout are below. From a look at the code, this is due to the code in sctp_send_cookie_echo (sctp_output.c) not handling parameters with a zero length:

[code]

I'm cleaning up the fuzzer currently - can share the code if you need it

[2019-08-21 22:29] benjwright opened #353 "Integrate UsrSCTP into OSS-Fuzz"
Given the recent fuzzing discoveries in UsrSCTP it seems like it would be useful to on board the project to OSS-Fuzz: https://github.com/google/oss-fuzz

#351, #352 and #255 could all benefit from having automated continuous fuzzing.

[2019-08-21 22:34] markwo opened #354 "Memory leak detected during fuzzing"
This may be related to #255 but still repros with the current code in master. LeakSanitizer detects a leak with the atatched repro file (including a PCAP of the fuzzed messages as well). This may not be useful to you until the fuzzer code is available for you to repro locally?

[code]

[2019-08-21 22:37] weinrank commented on #353
Yep, I'm currently working on this. :)

[2019-08-21 22:40] markwo commented on #354
Actually, I missed this recent commit: https://github.com/sctplab/usrsctp/commit/c82439d5c9e1aaba004785809d3910a1feadcb8f
Will check if the issue still reproduces with the current code.

[2019-08-21 23:17] benjwright commented on #353
Awesome, just filling an issue here to track it since it was suggested in another bug.

[2019-08-22 08:59] lgrahl commented on #345
@shampson Yes. However, that being said, considering that you use the default buffer size of 256 KiB and the user application sends messages of size 256 KiB, I'd assume atomic sends would be detrimental to throughput since you constantly jump between buffer completely dry and buffer completely full. Please, correct me if I'm wrong on this, @tuexen.

[2019-08-22 11:19] tuexen commented on #354
@markwo Please retest and report whether the problem still exists or not.

[2019-08-22 13:47] stewrtrs commented on #345
Thats not strictly true.

Consider an app  that

1) sends 256k
2) ack’s arrive that open the window (this should give a wakeup say at 128k ack'd)
3) The app then try’s to send the next 256k, but the return is only
     going to give you what was available i.e. 128k which means that this record
     is not completely sent you must restart at 128k in.
4) More acks arrive (again lets say another 128k

[2019-08-22 15:45] tuexen commented on #345
That is only true if the user has enabled the explicit EOR mode. Only in that case `send()` calls are not atomic.

So I think @lgrahl is referring to the case where the explicit EOR mode is disabled and therefore
suggests to enable it. Then it will work as you describe.

[2019-08-22 15:49] stewrtrs commented on #345
Ahh I thought from the discussion we were talking about EOR mode on..

R

------
Randall Stewart
rrs@netflix.com

[2019-08-22 16:07] tuexen commented on #345
The problem is that Chrome enables the explicit EOR mode with a socket option, but does not handle non-atomic `send` calls...

[2019-08-22 16:53] markwo commented on #354
Does not repro when testing against the latest code, closing.

[2019-08-22 16:53] #354 closed

[2019-08-22 17:54] tuexen commented on #352
Reproducible with the following packetdrill script:
[code]

[2019-08-22 18:05] tuexen commented on #351
Can be reproduced with the following packetdrill script:
[code]

[2019-08-22 20:22] shampson commented on #325
@mstyura Do you know when this problem was introduced? The current SCTP version in chrome is from 7a8bc9a90ca96634aa56ee712856d97f27d903f8.

I think the webrtc sample problem called out by @lgrahl is likely a separate issue.

[2019-08-22 20:28] mstyura commented on #325
@shampson I've traced problem back to commits on [25 March 2019](https://github.com/sctplab/usrsctp/commit/a7c290275a0f8a164c132396b34f46e295c193f7) and [26 March 2019](https://github.com/sctplab/usrsctp/commit/164ca603a26ebb870418fa5709f09bab9b61a3ab), before these commits the issue did not exist.

[2019-08-22 20:32] shampson commented on #345
@tuexen yes I understand, and thank you for the clarification. Handling the EOR on the receive side is fine, but send side needs to change.

We have 2 options.
1. Atomic send- remove explicitly setting the EOR bit when sending. I tried this and it immediately fixed the issue. The downside, as called out, is that this means waiting for a completely empty buffer before sending a message of the max s

[2019-08-22 20:36] markwo opened #355 "Memory leak detected during fuzzing"
I confirmed this leak repros with the current code in master.

LeakSanitizer detected a leak during fuzzing. I've included a PCAP of the fuzzed messages as well as the text packet dump. The repro is actually a stand-alone test app (doesn't require a fuzzed testcase input file), so I'll see if I can simplify it down to a single .c file you can use to repro locally.

[packets.txt](https://github.com

[2019-08-23 08:07] lgrahl commented on #345
Agree that going with 2b) would be best. If you could use a reference implementation, there's the one in [Firefox](https://dxr.mozilla.org/mozilla-central/rev/95ad10e13fb1fe7a1b0e0fa10e31f1b5eb28cb62/netwerk/sctp/datachannel/DataChannel.cpp#2571) and in [RAWRTC](https://github.com/rawrtc/rawrtc-data-channel/blob/8444adc6f61b275c40653516588d61cb756ef4df/src/sctp_transport/transport.c#L469) (they lo

[2019-08-25 15:57] tuexen commented on #353
https://github.com/sctplab/usrsctp/commit/04d617c9c194666747d0294526a388db053edaa7 is the initial step within this project.

[2019-08-27 20:06] markwo opened #357 "MemorySanitizer: use of uninitialized value in sctp_med_chunk_output"
MSAN detected this during fuzzing. Attaching a PCAP and the testcase data.

It seems to be at this location in sctp_med_chunk_output where chk->flags is being accessed:
[code]

Packet data text:
[code]
[repro.zip](https://github.com/sctplab/usrsctp/files/3547888/repro.zip)

[2019-08-27 20:21] tuexen commented on #357
Can you provide `chk->rec.chunk_id.id` for the `chk` which has an uninitialised `chk->flags`?

[2019-08-27 22:35] tuexen commented on #357
That means that the chunk was allocated in [sctp_output.c#L9488](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_output.c#L9488), the `id` set in [https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_output.c#L9495](sctp_output.c#L9495) and `chk->flags` was initialised in [sctp_output.c#L9497](https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netine

[2019-08-27 23:57] #357 closed, assigned to nobody

[2019-08-28 06:54] tuexen commented on #357
Yes, I guess it was fixed in https://github.com/sctplab/usrsctp/commit/47dd39f84c7e70c29fa9be6004482c3f3146619d.

[2019-08-28 07:24] weinrank commented on #353
The usrsctp library is getting fuzzed by the OSS-FUZZ project.
We haven't seen any bug reports.

I'll extend the collection of fuzzers and corpora in the future.
Another issue is the slow execution of the fuzzing targets in connected mode.
While the unconnected fuzzer reaches about 5,500 executions per second, the connected fuzzer only reaches about 50 executions per second.

[2019-08-28 07:26] weinrank commented on #357
@markwo I'm curious: why are you fuzzing against old sources of usrsctp?
Since we're already fuzzing for about a year, you'll probably run into more issues which are already fixed.

[2019-08-28 07:40] tuexen commented on #353
@weinrank Thanks a lot for your work! Can this issue be closed now that it is integrated in OSS-FUZZ?

[2019-08-28 07:54] weinrank commented on #353
Yes, it can be closed.
We can probably recycle this issue for future discussions / status updates regarding the OSS-FUZZ project.

[2019-08-28 08:08] mstyura commented on #325
Hello, @tuexen and @peterlei.
I'm really sorry to bother you again, could you please somehow indicate if you've seen [comment with issue investigation](https://github.com/sctplab/usrsctp/issues/325#issuecomment-523069291)? Even so I've got why deadlock had happen, I have no idea how to properly fix it without your assistance? Could you please help?

[2019-08-28 08:31] #353 closed

[2019-08-28 23:59] markwo commented on #355
With some help from @weinrank I got a repro based on his fuzzer_connected.c code working. See the attached source. You need to run this with a dummy input testcase (contents are ignored). e.g.
`./fuzzer_connected CORPUS_CONNECTED/tsctp-000000 -detect_leaks=1`

[fuzzer_connected.zip](https://github.com/sctplab/usrsctp/files/3553279/fuzzer_connected.zip)

[2019-08-29 00:04] tuexen commented on #355
@markwo Just to be sure: this problem occurs with the master branch, right?

[2019-08-29 00:09] markwo commented on #355
Correct - repro'd against master as of today.

[2019-08-29 00:24] tuexen commented on #355
Great. Thanks for the clarification.

[2019-08-30 09:29] tuexen commented on #355
The issue can be reproduced using the following packetdrill script:
[code]

[2019-08-30 13:49] dkisabaka opened #359 "ThreadSanitizer catching race condition between "usrsctp_connect" and "usrsctp_bind""
This was caught by ThreadSanitizer while working with the webrtc DataChannel. In practice this happens very rarely rarely but it's easy to trigger with ThreadSanitizer

The fix is to guard `stcb->sctp_ep` when setting the connecting flag: https://github.com/dkisabaka/usrsctp/blob/ffa4ce549f328e29c395fd1913bd98cad020c15e/usrsctplib/netinet/sctp_usrreq.c#L8174

[2019-08-30 14:02] tuexen commented on #359
Question: Why are you running `usrsctp_bind()` and `usrsctp_connect()` in two threads on the same end-point?

I'm not arguing if the above is a bug or not, I just want to understand where this can happen in practice...

[2019-08-30 14:11] dkisabaka commented on #359
Two clients sending and receiving data through the data channel (on the same process), each client is doing so on a different thread. This can happen in unit tests for example: https://bugs.chromium.org/p/webrtc/issues/detail?id=10268

[2019-08-30 14:17] tuexen commented on #359
I don't see how it makes sense. Your application is up to an race. `usrsctp_connect()` does in implicit bind if the socket is unbound. In this case your `usrsctp_bind()` call will fail. In my view, if you are wanting to do a `bind()` call and a `connect()` call, the `bind()` call must complete before you call `connect()`. In other cases the code sometimes does not what you expect...

[2019-08-30 16:11] shampson commented on #345
I think this issue can be closed with the fix. Thanks again for all the help debugging!

[2019-08-30 16:11] #345 closed

[2019-08-30 16:15] shampson commented on #325
Is this being worked on? We would like to roll in a newer version of usrsctp into Chromium & WebRTC, but are blocked on this.

[2019-08-30 17:07] tuexen commented on #325
@peterlei Are you still working on it or can't you work on it due to other constraints?

[2019-08-31 08:23] tuexen commented on #355
@markwo https://github.com/sctplab/usrsctp/commit/4687803d5021b7f452438bc8acc8201294265e74 should fix this issue. Can you retest and confirm?

[2019-09-01 04:57] nxrighthere opened #361 "Retrieve an association index"
While re-reading documentation, I can't find how to retrieve an association index at both ends in one to one setup. Is it possible?

[2019-09-01 08:21] weinrank opened #362 "usrsctp_sysctl_set_sctp_auth_disable() function not defined."
[code]

[2019-09-01 09:16] tuexen commented on #361
I guess you are referring to the association identifier. This is only used to identify a particular association on a one-to-many style socket. This field is ignored on a one-to-one style socket, since there is no need to identify a particular association. There is only one...

[2019-09-01 09:25] tuexen commented on #362
Why do you think there should exist a function with name `usrsctp_sysctl_set_sctp_auth_disable`? On FreeBSD there is a `sysctl`-variable with the name `net.inet.sctp.auth_enable` which can take `0` or `1` as values to disable or enable the AUTH extension per default on new end points.
To disable the extension, you would use
[code]
The way to do the equivalent in the userland stack would be to call

[2019-09-01 09:30] nxrighthere commented on #361
Yes, but I found this identifier while inspecting packets on the wire and it's an identical thing to my abstraction of connection IDs in the layer on top, so I thought that I could just replace it with one that can be retrieved from SCTP instead of tracking/assigning IDs in custom logic.

Anyway, thanks for clarifying this.

[2019-09-01 09:30] #361 closed

[2019-09-01 10:24] tuexen commented on #352
@markwo https://github.com/sctplab/usrsctp/commit/a5ce87dd135f87f0110f649292bbdc51b7d8382a should fix the issue. Can you retest and confirm?

[2019-09-01 10:24] tuexen commented on #351
@markwo https://github.com/sctplab/usrsctp/commit/a5ce87dd135f87f0110f649292bbdc51b7d8382a should fix the issue. Can you retest and confirm?

[2019-09-01 12:10] weinrank commented on #362
Because of the [Readme](https://github.com/sctplab/usrsctp/blob/master/Manual.md#usrsctp_sysctl_set_sctp_auth_disable). :)

Thanks for the clarification.

[2019-09-01 12:15] tuexen commented on #362
Fixed in https://github.com/sctplab/usrsctp/commit/7cd64a3c92745001fd7f3a47d82e0d70606565f5. Can this issue be closed?

[2019-09-03 08:31] #362 closed

[2019-09-03 10:40] tkoeppe commented on #177
There's perhaps some additional opportunity cost here: the lack of standard atomics means that dynamic debuggers such as TSAN cannot diagnose through any code that uses usrsctp, and thus we're missing out on valuable debugging of concurrency code.

After a brief look, I wonder how hard it would be to add support for standard atomics: you'd need to update (or add to) the macros in user_atomic.h, an

[2019-09-03 11:02] tuexen commented on #177
Please note that this code is also used also in kernel land. So the macros must abstract that too.

[2019-09-03 11:17] tkoeppe commented on #177
For what it's worth, I've prototypes this change; it only took a few minutes. If you're interested I can post a patch.

[2019-09-03 12:47] tuexen commented on #177
Sure. We can look at it.

[2019-09-03 13:00] tkoeppe commented on #177
Here you go:

[usrsctp-atomics.patch.txt](https://github.com/sctplab/usrsctp/files/3569525/usrsctp-atomics.patch.txt)

All the `_Atomic`s would have to be turned into macro invocations.

The `atomic_init` function should probably just be renamed regardless (it clashes with a C standard library function).

For compare-and-exchange, the expected operand needs to be an address, so we need to have var

[2019-09-03 13:13] tuexen commented on #177
How does this work on platforms not support C11? How does this work in kernel land? How to deal with changing `struct sctpstat`, which is part of the API?

[2019-09-03 13:17] tkoeppe commented on #177
I would add this code as a new, conditionally-compiled mode, in addition to the one that uses GCC intrinsics, so that this feature would only be used on demand (e.g. in a project that has C11 available and only runs in userspace). Existing code can continue as is. Is that reasonable?

I think if you really pressed the issue, you could squint at it decide that `_Atomic int` and `int` are layout com

[2019-09-03 13:23] tuexen commented on #177
That sounds reasonable. You can create a PR, if you want...

The sources in `netinet/` and `netinet6` also live in the FreeBSD kernel (and could be compiled as a NKE for Mac OS). So not changing that code would be preferable. One could use `#ifdef` here.

[2019-09-03 18:27] markwo commented on #355
I can confirm this fixes the issue, thanks!

[2019-09-03 18:27] #355 closed

[2019-09-03 18:28] markwo commented on #352
I can confirm this fixes the issue, thanks!

[2019-09-03 18:28] #352 closed

[2019-09-03 18:28] markwo commented on #351
I can confirm this fixes the issue, thanks!

[2019-09-03 18:28] #351 closed

[2019-09-03 18:32] nxrighthere commented on #325
Dunno, if this problem occurs only on Linux? I'm using the library after those changes built with MinGW with POSIX threads, and I haven't encountered this on Windows.

[2019-09-03 18:36] nxrighthere commented on #351
https://github.com/sctplab/usrsctp/issues/160#issuecomment-418403201 Might be related to this?

[2019-09-03 20:29] shiretu commented on #325
@nxrighthere: our installs are linux only. To make it happen, try to disconnect abruptly on high traffic connection, where lots of ACKs are in flight. It also helps if you reduce the sendv amounts to say... 1024 to make even more ACKs

[2019-09-03 20:34] shiretu commented on #325
Another wrench you can additionally throw in the running engine and be mesmerised about how parts are flying around: artificially increase the latency to say... 300ms. And also drop a few pkts here and there intentionally.

[2019-09-03 20:41] alvestrand commented on #345
For info - I added that test when checking that we could actually send and receive the messages we were signalling as max message size. Nice to see that it uncovered a regression!

[2019-09-03 20:46] nxrighthere commented on #325
Yes, I've reproduced this on Windows as well with 32 simulated clients on loopback with 150 ms RTT + 10% packets loss by sending many reliable packets and then quickly disconnecting clients one after another.

[2019-09-03 21:04] nxrighthere commented on #325
Sometimes it crashes, sometimes just hangs... I can provide crash dumps if it would be useful.

[2019-09-03 21:39] nxrighthere commented on #325
Most of my traffic is unreliable messages set as:
[code]
So, it explains why I haven't encountered this previously.

[2019-09-04 09:24] tA-bot-git opened #363 "Dumping and Restoring SCTP sockets with usrsctp"
Hi,

I am running a program that requires SCTP connections to be dumped and restored. I would like to replace the kernel implementation with userland SCTP. I have built and installed usrsctplib and can run the example programs. To dump the SCTP sockets my program runs, would I just need to replace all the SCTP functions in my program with usr_sctp type functions, or is there an extra step I would

[2019-09-05 06:12] tuexen commented on #363
It depends. Some functionality is identical. However, you can use `select()`/`poll()` in combination with user sockets.

So why do you need to dump and restore SCTP sockets?

[2019-09-06 12:48] dkisabaka commented on #359
Right, thanks for the explanation. The issue seems to lie in how we're using those two methods. I'll update the WebRTC usage instead.

[2019-09-08 14:46] nxrighthere commented on #193
The last couple of days, I'm observing the same problem with partial reliability even with zero RTX or TTL set to 1. Messages are transmitted too slow in comparison to other network transports where ordered unreliable messages delivered up to x20-30 times faster under 100-200 RTT with 5-10% of packet loss respectively...

[2019-09-08 15:14] nxrighthere commented on #363
@tuexen I guess the use-case is zero-downtime restarts of servers so that applications don't have to drop connections when restarting. This implemented in several QUIC-based libraries.

[2019-09-08 17:16] tuexen commented on #193
Which congestion control is the "other" transport protocol using? Can you compare the throughput between reliable and unreliable transfer? Is that different?
@msvoelker Can you test this in the lab?

[2019-09-08 17:44] nxrighthere commented on #193
One is re-implementation of DCCP as described in RFC 4340 with almost the same reliability strategies based on ACK vector. Another is similar to CUBIC TCP, but based on a more traditional sliding window. Both encapsulated into UDP.

A reliable transmission in comparison to transports that I'm using is quite good and consistent while the one which similar to DCCP shows better latencies under bad ne

[2019-09-08 17:55] tuexen commented on #193
And which CC are you using for DCCP? The one in [RFC 4341](https://tools.ietf.org/html/rfc4341)? I just want to figure out which effect the CC you are using has, and which effect is based on the way SCTP (and possibly the stack) implemented unreliability.

Right now the default CC for SCTP is new reno and it is know for sub-optimal performance in high RTT, high loss scenarios... One could add a cu

[2019-09-08 18:07] nxrighthere commented on #193
I'm not sure, but it seems that it's based on CCID 2.

Yes, I've tried HSTCP and it shows better results than default CC, but still not really suitable for real-time data transfer...

[2019-09-08 18:11] nxrighthere commented on #193
@tuexen Dunno, it's possible to quickly disable any built-in CC without side effects for implementation of a custom algorithm?

[2019-09-09 05:19] nxrighthere commented on #193
@tuexen I've eliminated CC from the source code and set `cwnd` to a constant value, but the problem is still there, messages are delayed for a very long time intervals.

[2019-09-09 07:32] tuexen commented on #193
@nxrighthere For ordered or unordered messages? What is the message size?

[2019-09-09 07:53] nxrighthere commented on #193
I've tried both ordered/unordered, and it doesn't make any difference.

Here's captured traffic between two machines connected over the wireless network with around 100-150 ms RTT: [sctp_wifi.zip](https://github.com/sctplab/usrsctp/files/3589260/sctp_wifi.zip)

[2019-09-09 07:54] tA-bot-git commented on #363
Thanks for the reply and suggestion, @tuexen. I'll have to look more into that, and get write back here if I have any more questions.

As @nxrighthere rightly points out, I have a running application that needs to be dumped and restored almost immediately (zero-downtime), and the dumping tool I use doesn't support lksctp, so I'd ideally like to replace that with something else and that's what led

[2019-09-10 10:18] saschazelzer commented on #205
I would also appreciate a comment on the state of and maybe plans about a functional PMTU discovery implementation.

Especially since OpenSSL seems to have removed their DTLS heartbeat extension which could have been used in SCTP over DTLS scenarios.

Thanks.

[2019-09-11 09:58] tA-bot-git commented on #363
Hi again, @tuexen.

In my client code I have a sctp function such as: sctp_getpaddrs(). usrsctp has a similar implementation: _usrsctp_getsockopt()_. However, the socket type in the sctp implementation is an **integer**, while the one in usrsctp is a **struct socket**. Is it possible to fix this (turning the integer into a socket struct for usrsctp)?

[2019-09-11 11:49] tuexen commented on #363
No. When using a kernel stack you are using an integer in userland which gets translated into a pointer to the socket in kernelland. Since we don't have this boundary here, the pointer type is exposed. This also makes sure that you don't mix SCTP userland sockets with normal kernel sockets...

[2019-09-14 14:46] jean-airoldie opened #366 "Problem: cannot forward user data to the send callback"
Currently `usrsctp_socket` provides the ability to register a send and recv callback. The receive callback takes a user provided `void *ulp_info` which can be used to pass abitrary user. However, there is no equivalent mechanism for the send callback. Is there a specific reason why not?

My specific use case if to be able to application data that from a behind cffi where I can't simply put a globa

[2019-09-14 19:17] jean-airoldie commented on #366
Wrote a PR that addresses this issue https://github.com/sctplab/usrsctp/pull/367.

[2019-09-14 21:38] jean-airoldie opened #368 "Problem: Cannot update sb_threshold value"
Currently the sb_threshold can only be set initially when a socket is created via `usrsctp_socket`. We should add a function to be able to update this value.

A possible use case would be to update the `sb_threshold` size from within the `send_callback` to avoid spurious wakeups.

I'll write a PR.

[2019-09-16 08:51] msvoelker commented on #193
I'm trying to reproduce this. Can you provide concrete numbers for a concrete environment? Let's say for 200 ms RTT and 5 % packet loss rate.
What is the size of the messages you are sending? How long are you running a test?

I did only small tests so far. My setup is
RTT = 200 ms
Packet Loss Rate = 5 %
Message Size = 20 bytes
My test application was able to send in about 21 seconds 52354 messages

[2019-09-16 09:12] nxrighthere commented on #193
The problem is not how many messages the transport is able to transmit. the problem is that messages are highly delayed as it explained by @stfl.

My issue is the same:

[2019-09-16 09:17] nxrighthere commented on #193
Partial reliability doesn't work properly, to get an idea what's going wrong you need to compare it to other popular semi-reliable transports such as [ENet](https://github.com/lsalzman/enet) for example, which transmitting packets as efficient as possible but without huge delays.

[2019-09-16 09:46] nxrighthere commented on #193
[Here](https://drive.google.com/file/d/1h42G2KUvc8EK6PjmO8vQrCZz4jOTfH8w/view?usp=sharing) are videos files to get an idea what's going wrong and how it looks visually. There are ~100 ms RTT and 10% of packet loss. Both transports are doing the same amount of work, both filling packets up to full frames below MTU (captured data available [here](https://github.com/sctplab/usrsctp/issues/193#issueco

[2019-09-16 09:52] nxrighthere commented on #193
What I've tried, and it doesn't help:
- Set `SCTP_PR_SCTP_RTX` to 0
- Set `SCTP_PR_SCTP_TTL` to 1
- Set messages to `SCTP_UNORDERED`
- Increase buffers and queues size
- Eliminate congestion control and set `cwnd` to a constant value

[2019-09-17 12:02] msvoelker commented on #193
I identified @stfl problem as related to the bug that sends messages (for the first time) even if the TTL of the message is already expired. This is still an open bug. Since you are also using RTX policy, there seems to be something else.

Have you measured the app-to-app message delay?
If so, do you see a high average or peeks for single messages?
What is the size of the messages you send?

[2019-09-17 12:16] nxrighthere commented on #193
Yes, it's 16 ms (the application's framerate locked to 60 frames per second).

For a single message, delays between packets under congestion cause stalls and unresponsiveness (as you can observe on the video).

I'm enqueuing many small messages <30 bytes in tight loops that aggregated into a single packet below MTU (`SCTP_NODELAY` is not used).

[2019-09-17 12:48] msvoelker commented on #193
You mean 16 ms is the average before any packet loss; once a packet is lost, congestion control adds some delay, correct?

You wrote, you found a way to disable the congestion control for your test. Do you have a total average of 16 ms then?

[2019-09-17 12:54] nxrighthere commented on #193
Yes, 16 ms without packet loss and any external latency. Under congestion `sstat_primary.spinfo_srtt` raises up to 3,000 ms for some reason, while the actual RTT is ~100 ms.

Nope, I didn't gather that, but it doesn't change much from what I see in my tests.

[2019-09-17 13:37] msvoelker commented on #193
Is 16 ms a good number compared to ENet?
When you got a RTT of 100 ms, I would assume an app-to-app delay of at least 50 ms. Do you add the link delay only on the way back to the sender?

Does ENet also use a congestion control? If so, which one?
Do you see higher delays in case of packet loss with ENet as well?

[2019-09-17 13:48] nxrighthere commented on #193
Yes, when congestion doesn't occur, both have pretty the same good enough latencies.

Yes, the actual app-to-app delay raises up to ~60 ms. Lag simulated on the server-side at sending and receiving through a virtual device which controls the traffic.

Yes, it's CUBIC-like I believe, flow control is fixed sliding window.

Yes, but they correspond to the expected numbers, unlike in the case with SCT

[2019-09-17 17:56] jean-airoldie opened #372 "Missing SCTP_DATA_{NOT_FRAG,LAST_FRAG} in header"
These flags can be returned by a `SCTP_SEND_FAILED_EVENT` notification, in the `ssfe_info.sinfo_flags`, as defined in https://tools.ietf.org/html/rfc6458#section-6.1.11

[2019-09-18 11:38] #372 closed

[2019-09-18 11:50] weinrank opened #374 "sctp_is_vtag_good: ipi_ep_mtx already locked"
[code]

PCAP: [sctp_is_vtag_good.pcapng.zip](https://github.com/sctplab/usrsctp/files/3626179/sctp_is_vtag_good.pcapng.zip)

# Reproduce
[code]

[2019-09-18 11:52] weinrank opened #375 "runtime error: signed integer overflow: 1955827320 + 723124158 cannot be represented in type 'int'"
[code]
PCAP:
[rtt.pcapng.zip](https://github.com/sctplab/usrsctp/files/3626216/rtt.pcapng.zip)

# Reproduce
[code]

[2019-09-18 16:14] #368 closed

[2019-09-19 21:43] markwo opened #376 "Missing return in error path in sctp_handle_asconf()"
https://github.com/sctplab/usrsctp/blob/8ca132191668c1dff35872315cf399cd7c3dba9b/usrsctplib/netinet/sctp_asconf.c#L722

[2019-09-20 08:27] tuexen commented on #376
Fixed in https://github.com/sctplab/usrsctp/commit/ac364403c13c5cefe2bc5e87b8bf730ba7d491a0. Thanks for finding and reporting!

[2019-09-20 08:27] #376 closed

[2019-09-22 07:03] #287 closed

[2019-09-22 10:49] tuexen commented on #375
@weinrank I think https://github.com/sctplab/usrsctp/commit/b7ed78b2faebd97ef57791c99156c3e0d600a8a2 fixes this issue. Can you retest and report?

[2019-09-22 11:16] tuexen commented on #374
@weinrank: I think https://github.com/sctplab/usrsctp/commit/2caf696738e09a9d60eb85290375d7462da4e0de should fix this issue. Please retest and report.

[2019-09-22 17:33] jean-airoldie commented on #366
The `set_upcall` API can be used instead of the callback API and doesn't have the same limitations.

[2019-09-22 17:33] #366 closed

[2019-09-22 21:08] weinrank commented on #375
Fixed!

[2019-09-22 21:08] #375 closed

[2019-09-22 21:08] weinrank commented on #374
Fixed!

[2019-09-22 21:08] #374 closed

[2019-09-22 21:25] weinrank opened #378 "LeakSanitizer: detected memory leaks"
[code]

PCAPNG: [fuzzer.pcapng.zip](https://github.com/sctplab/usrsctp/files/3640186/fuzzer.pcapng.zip)

[2019-09-22 22:36] tuexen commented on #378
Could it be that the memory leak is related to the application not consuming the data and therefore it is not freed? Are you calling `usrsctp_close()`?

[2019-09-23 03:51] nxrighthere commented on #193
Found the reason why `sstat_primary.spinfo_srtt` is showing incorrect values like 3,000 ms while the actual RTT is 150 ms: it was enabled by default explicit congestion notifications (it looks like that the client is also connecting faster than before when this option is disabled).

Still, investigate why there's a huge delay between packets delivery. Messages themselves arrive just in excepted ti

[2019-09-23 04:21] tuexen commented on #193
@nxrighthere Can you elaborate how ECN affects the computation of the RTT? Does you network actually do ECN marking? How are you reading ECN markings?

[2019-09-23 04:33] nxrighthere commented on #193
None of that, it just affects RTT calculation for some reason. If I set `usrsctp_sysctl_set_sctp_ecn_enable(0)` then RTT is calculated properly.

[2019-09-23 04:44] nxrighthere commented on #193
Or maybe it's just a coincidence...

[2019-09-23 05:12] tuexen commented on #193
I don't think ECN should affect the correctness of RTT calculations. If it does, it is a bug I would like to fix. That is why I'm asking... Can you double check?

[2019-09-23 05:27] nxrighthere commented on #193
Nevermind it was just a coincidence, the problem is still there...

[2019-09-23 07:11] weinrank commented on #378
This shouldn't be the case, we only have one usrsctp socket and the `usrsctp_close()` function should be called in any way, except errors.

See [here](https://github.com/weinrank/usrsctp/blob/fuzzer-connected/fuzzer/fuzzer_connect.c#L440)

[2019-09-23 18:48] aducmeyprzfvbrxp commented on #245
I want to thank everyone who has participated on this issue. This is a significant problem, afflicting WebRTC and blocking a variety of powerful potential use cases from being explored, yet there seems to be little progress toward fixing it, and a lack of interest from browser vendors. WebRTC data channels are the standout feature of WebRTC, far more important and useful than audio or video channe

[2019-09-24 13:22] tuexen commented on #378
Fixed in https://github.com/sctplab/usrsctp/commit/b07df88c8993722bf4197900bda4646c12ab2f99.

[2019-09-24 13:22] #378 closed

[2019-09-24 14:16] mstyura commented on #325
Is there any estimates when this issue might get a fix?

[2019-09-25 18:09] markwo opened #380 "NULL deref crash in sctp_timer_start when processing fuzzed ASCONF"
Hit this issue when fuzzing ASCONF chunks. A PCAP is attached.
The crash occurs when sctp_timer_start() is called here: https://github.com/sctplab/usrsctp/blob/ac364403c13c5cefe2bc5e87b8bf730ba7d491a0/usrsctplib/netinet/sctp_asconf.c#L268
[repro.pcap.zip](https://github.com/sctplab/usrsctp/files/3654125/repro.pcap.zip)

[code]

[2019-09-25 21:36] jean-airoldie opened #381 "Problem: so_upcall should be behind a lock"
Currently the user provided callback `so_upcall` set via the `usrsctp_set_upcall` API is called without a lock. This can create a potential race condition if the user calls `usrsctp_set_upcall` while `so_upcall` is called from another thread. Namely its possible that the previous `so_upcall` is called even after it was replaced.

My use case is that I want to be able to unregister my socket's `so_

[2019-09-25 21:42] jean-airoldie commented on #381
My temporary fix is to acquire a lock for my `so_upcallarg` within the `so_upcall`. I also have to leak the `so_upcallarg`. However I don't feel like its a satisfying solution.

[2019-09-25 22:01] jean-airoldie commented on #381
For my use case, an alternative to a lock would be to provide a deallocation function pointer for the `so_upcallarg`.

[2019-09-25 22:09] tuexen commented on #381
The question is: Do you want to call `usrsctp_set_upcall()` from an upcall? We do the upcall stuff after all packet processing is done without holding any lock. We can hold refcounts, but no locks...

[2019-09-25 22:15] jean-airoldie commented on #381
In my case I just want to call `usrsctp_set_upcall` at the creation of the socket then, once I'm done with the socket, close it and deallocate the `so_upcallarg`. However this can't be done currently without risking a race since there is not way to be sure that no other thread is using the `so_upcallargs`.

[2019-09-25 22:17] jean-airoldie commented on #381
Currently, I have to leak my `so_upcallarg` which is heap allocated.

[2019-09-25 22:17] tuexen commented on #380
Is it possible to share with @weinrank some information such that @weinrank can run a reproducer locally in our lab?

[2019-09-25 22:21] tuexen commented on #381
Two possibilities come to my mind:

1. Wait until you got the last `sctp_recvv()` call. Either one giving you 0 or indicating a fatal error.
2. Call shutdown(sock, SHUT_RD) and we need to make sure no upcall is make after that.

Wouldn't that solve your issue?

[2019-09-25 22:25] jean-airoldie commented on #381
The thing is, I use the upcall API to indicate read / write readiness to my other threads using `usrsctp_get_events`. So its possible that another thread has already called `sctp_recvv`.

That would work.

[2019-09-25 23:06] markwo opened #382 "NULL deref crash in m_copydata"
I hit this crash during fuzzing - it looks similar to #351 but reproduces with the current code in master.

PCAP is attached.

[code]
[repro.pcap.zip](https://github.com/sctplab/usrsctp/files/3655152/repro.pcap.zip)

[2019-09-25 23:22] markwo commented on #380
Sure, I will send the info tomorrow.

[2019-09-26 01:27] jean-airoldie opened #383 "`SIGABORT` on socket close"
About 1/2000 times I get a `SIGABORT` while calling `usrsctp_close` on a socket, probably due to a race. I captured this event using [rr](https://github.com/mozilla/rr/) and I attached the packed recording. This would allow you to step / reverse step the recording if you want.

Note that I operate using a cffi and I'll remove the rust calls from the backtraces for clarity.

#### Crash Backtrace
[c

[2019-09-26 22:36] markwo commented on #380
I added a stand-alone repro program in this branch:
https://github.com/markwo/usrsctp/tree/fuzzer_repro

Since the issue is due to an uninitialized pointer on the stack,  the crash doesn't always trigger (sctp_timer_start checks for NULL inputs). The best way to catch this is with -fsanitize=memory. I was building the project as follows:
`cmake -DCMAKE_C_COMPILER=/usr/bin/clang-8 -Dsctp_build_repr

[2019-09-26 22:46] markwo commented on #382
I added a stand-alone repro program in this branch:
https://github.com/markwo/usrsctp/tree/fuzzer_repro

I build the project as follows:
`cmake -DCMAKE_C_COMPILER=/usr/bin/clang-8 -Dsctp_build_repro=1 -Dsctp_sanitizer_memory=1 -Dsctp_sanitizer_address=0 -Dsctp_debug=1 .`

Then run repro/repro_382. Output:
[code]

[2019-09-26 22:54] markwo opened #386 "AddressSanitizer: heap-buffer-overflow (read of size 2) in sctp_process_asconf_add_ip"
Repro program output:
[code]

[2019-09-26 22:58] markwo commented on #386
See https://github.com/markwo/usrsctp/tree/fuzzer_repro

To repro, build repro_386 with address sanitizer:
`cmake -DCMAKE_C_COMPILER=/usr/bin/clang-8 -Dsctp_build_repro=1 -Dsctp_sanitizer_memory=0 -Dsctp_sanitizer_address=1 -Dsctp_debug=1 .`

[2019-09-27 08:10] weinrank commented on #386
Hi Mark,

our fuzzing system found the same issue on FreeBSD and Linux tonight. :)

[2019-09-27 09:26] bshastry opened #387 "oss-fuzz integration"
Hello,

I noticed that usrsctp is marked as a security critical dependency in chromium and that you already actively fuzz the library. Would you be interested in upstream oss-fuzz integration?

Thank you.

[2019-09-27 09:37] weinrank commented on #387
Hi @bshastry,

usrsctp is already part of the oss-fuzz project.
See https://github.com/google/oss-fuzz/tree/master/projects/usrsctp

[2019-09-27 11:08] #387 closed

[2019-09-27 17:42] pbalash0v opened #388 "The way to interrupt blocking accept() ?"
Hello,
I might be totally off point with this question but is it possible to interrupt blocking usrsctp_accept() call ?

Here is an illustration of what I'm talking about:
Using usual Socket API I can do the following. Function tcp_acc_func runs in it's own thread, accepting new connections. Socket is in blocking mode:

[code]
Now when execution blocks in accept() call but I want to finish accepti

[2019-09-27 21:02] markwo opened #389 "Possible usage of uninitialized pointer 'net_tmp' in sctp_load_addresses_from_init()"
I was poking around for variants of #380 using Semmle: https://lgtm.com/query/238643156377778829/
Most findings are false positives, but one looks potentially interesting.

See https://github.com/sctplab/usrsctp/blob/248221fb77a67e00d2775fcd026e7ea2a7a8b818/usrsctplib/netinet/sctp_pcb.c#L7190

It's not totally clear the code will initialize `net_tmp` before it's accessed. We could wait for fuzzing

[2019-09-29 03:02] jean-airoldie opened #390 "Can't achieve decent throughput on localhost"
I can't manage to get decent localhost performance. In my application code I get about `~50Mb/sec` (tested on 2 machines). Moreover, I seems like most of the time I'm waiting for the sendv & recvv to unblock.

My benchmark is simply a socket bound to localhost trying to sendv messages in a tight loop to another thread calling recvv, also in a tight loop. Note that I'm using the library as a cffi,

[2019-09-30 09:16] lgrahl commented on #390
Same as #245 (even though that went slightly off-topic)

[2019-09-30 09:45] nxrighthere commented on #245
Back in July, I've started working on the application to help to determine such problems in face to face comparison with a few other popular network protocols/libraries. The work was suspended as soon as we decided to migrate to another backend. There are at least three major issues with SCTP, unfortunately. It seems that it's hard to solve them due to the complexity of the codebase, I guess.

One

[2019-09-30 10:06] shiretu commented on #325
@tuexen ,@peterlei: can we revert that commit which introduced the deadlock? It is now a show stopper. Ppl are crashing the service by simply connecting over less then ideal connections. We get multiple restarts per hour on some instances.

We are now in a very delicate and difficult position.

[2019-09-30 12:12] tuexen commented on #380
@markwo Please retest and report.

[2019-09-30 17:41] markwo commented on #380
Tested the fix - looks good.

[2019-09-30 17:41] #380 closed

[2019-09-30 18:05] markwo commented on #389
A related issue is with `inp` in `sctp_findassociation_addr` on this line:
https://github.com/sctplab/usrsctp/blob/843cc3b847f6bff2b9a54c001bc0d4dbf1947a91/usrsctplib/netinet/sctp_pcb.c#L2628

From reading the code it looks like there's a code path where `stcb` will be NULL without `inp` being initialized. This updated Semmle QL query can be used (it tries to do global analysis to find this bug pa

[2019-09-30 22:28] tuexen commented on #325
@shiretu (@peterlei ): Sure, we could revert. However, that would result into crashed, at least for Mozillas use-case (Firefox). I think these would be the commits of @peterlei from March 25th to March 29th. Can you do this locally and test if it improves the situation for you?

[2019-10-01 02:30] shiretu commented on #325
[code]

Somewhere in that stack above, a lock to sctb is acquired via a `SCTP_TCB_LOCK(stcb)` call. After the lock is acquired, the library will eventually wait for a broadcast on that condition variable.

**_The only_** place where that condition variable can be broadcasted is from `sctp_handle_tick` function. However, within that function, **_before_** the condition variable broadcast, there is

[2019-10-01 10:48] pbalash0v commented on #388
Some further clarification: there is an example program tsctp.c, which, IMO is an anology of tcp threaded server with one accepting thread and one thread for any new client. So if I modify tsctp in the following way:
Add function:
[code]
And then launch new thread right before blocking accept (around line 500 of tsctp.c):
[code]

So, shouldn't the accept return in this case, according to same sema

[2019-10-01 15:36] shiretu commented on #325
@tuexen, @peterlei: Here is my fix for the deadlock:
https://github.com/ubiquiti/ubnt-usrsctp/pull/3

@nxrighthere: Could you please test this fix? It would be nice to have more testing grounds.

[2019-10-01 15:43] shiretu commented on #325
@tuexen, @peterlei: I have updated the description of the PR to include the explanations of why/what was done in that PR.

Thank you!

[2019-10-01 15:44] nxrighthere commented on #325
@shiretu We migrated to another backend, so I don't have access to code anymore, unfortunately...

[2019-10-01 15:46] mstyura commented on #325
@shiretu as I understood from your PR you've only get rid of 1 mutex when [`sctp_os_timer_wait_cond`](https://github.com/sctplab/usrsctp/blob/c82439d5c9e1aaba004785809d3910a1feadcb8f/usrsctplib/netinet/sctp_callout.c#L98) invoked. But the thread is holding another 3 mutexes, which might also cause a problem (because calling wait while holding any mutex is bad idea IMO). Another 3 held mutexes are:

[2019-10-01 15:55] mstyura commented on #325
@shiretu did you get what was the original problem which was "fixed" by set of commits which introduced this problematic `sctp_os_timer_wait_cond`?

[2019-10-01 15:56] shiretu commented on #325
A race

[2019-10-02 13:25] shiretu opened #395 "Floating point exception"
We get a floating point exception here:

[code]

[2019-10-02 13:30] shiretu commented on #395
[code]

[2019-10-02 13:49] nxrighthere commented on #395
https://github.com/sctplab/usrsctp/pull/319

[2019-10-03 21:36] tuexen commented on #386
I fixed a some issues reported by OSS-Fuzz. I think the commit https://github.com/sctplab/usrsctp/commit/54f46950f494df7af9f61b617686ffa50a52815c fixes this issue. Can you retest and report?

[2019-10-04 17:46] markwo commented on #386
Retested, and the fix above does address this issue. Closing.

[2019-10-04 17:46] #386 closed

[2019-10-04 20:53] markwo opened #396 "LeakSanitizer: direct leak of 256 bytes allocated from m_getm2->m_get"
[code]

Output from the repro app (will add to my repro branch in a bit...)

[code]

[2019-10-05 09:51] tuexen commented on #382
@markwo : I think I fixed the issue in https://github.com/sctplab/usrsctp/commit/de8c4e3634853cc0dc038924d81b1ffc9000d35c. Please retest and report.

[2019-10-05 10:23] tuexen commented on #396
Build the project using:
[code]

[2019-10-05 12:40] tuexen commented on #396
@markwo I think the issue is fixed in  https://github.com/sctplab/usrsctp/commit/a6417e0f3cdd99522fd5e1b40aefc4a8feda2d59. Please retest and report.

[2019-10-07 10:08] mstyura commented on #325
Hi, I've implemented alternative approach to fix a deadlock: #397. If anyone can provide standalone repro or has stable private repro please test and share feedback. Thanks!

[2019-10-07 16:19] markwo commented on #382
Tested, the fix looks good.

[2019-10-07 16:19] #382 closed

[2019-10-07 16:21] markwo commented on #396
Tested, the fix looks good.

[2019-10-07 16:21] #396 closed

[2019-10-08 09:48] lgrahl commented on #136
I'd like to bump this one. It's somewhat vital for depending projects to be able to pin to a version instead of a commit, or even worse, to master (like I do currently).

[2019-10-17 13:14] mstyura commented on #325
I've added kind of standalone repro of this deadlock as [CL to WebRTC (AllMessagesAreDeliveredOverLoosyConnectionConcurrentTests)](https://webrtc-review.googlesource.com/c/src/+/157107). Please note, that `WebRTC` currently uses the old version of `usrsctp` which does not have change caused deadlock.

[2019-10-21 11:34] pbalash0v commented on #388
Some progress:
Calling:
[code]
before calling shutdown on accepting socket:
[code]
seems to unblock accept. I'm still totally not sure if this is a correct way to go. Would be very grateful if someone of authors (@tuexen, @stewrtrs ) will comment. Thanks.

[2019-11-01 00:21] aducmeyprzfvbrxp commented on #245
Thank you for the update @nxrighthere. For better or worse, the major browser vendors have decided to use this codebase. Using other libraries or protocols is not a realistic option for the vast majority of WebRTC usage.

@msvoelker and @tuexen, since there is no longer an example on the way, what would be the best manner to move forward regarding this issue?

[2019-11-01 00:35] nxrighthere commented on #245
It's just a matter of time when Google decide to replace SCTP with QUIC in Chrome, they are already experimenting in that direction. QUIC can serve as a feature-complete backend for WebRTC, they are only need to approve the partial reliability which is at proposal stage. Some QUIC-based transport layers already has such feature implemented independently of the standards.

[2019-11-01 06:55] alexander-vi commented on #147
Found nice workaround for this issue. The main idea to use private API of the library.

[code]

[2019-11-01 17:45] aducmeyprzfvbrxp commented on #245
Not at all to be rude, however, I think that distant possibility is irrelevant to the case at hand. I usually find it best to work with what we have now, even if keeping in mind what we *may* have in the future. Many developers are also interested in Firefox, which utilizes this codebase as well. I prefer to focus on this issue, and to that end, what can we do to help move it forward?

[2019-11-01 18:04] tuexen commented on #245
We (or @msvoelker  to be more precisely) spent some time to reproduce the issue, but he wasn't able to do so. So to make progress, we would need a program (the simpler, the best) and some parameters to reproduce the issue in our lab. Of course, there is no requirement that we do the analysis, so someone experiencing a problem can analyse it and describe the bug and provide a fix. The analysis on o

[2019-11-02 09:12] #395 closed

[2019-11-04 13:09] lgrahl commented on #245
So far, I can only offer the RAWRTC codebase (in particular, the [data-channel-sctp-throughput](https://github.com/rawrtc/rawrtc/blob/master/tools/data-channel-sctp-throughput.c) tool) which is also suffering from that limitation. That tool should not add to much code bloat around the usrsctp code base while still operating in a WebRTC environment.

[2019-11-04 13:19] tuexen commented on #325
@shiretu Does https://github.com/sctplab/usrsctp/pull/397 fix the issue for you?
@peterlei What do you think about https://github.com/sctplab/usrsctp/pull/397?

[2019-11-05 07:40] msvoelker commented on #245
The core question is: What is the issue? There might be an issue here in SCTP, but if it is, I'm sure it is possible to program an example that shows the issue. I tried to, but didn't succeed. I only found that the value of net.inet.sctp.maxchunks is too low for usrsctp.

I don't think we are able to move forward without an example. If someone could at least give me some more hints how to build on

[2019-11-05 09:25] lgrahl commented on #245
The issue (for me) is still the one described in the initial post. Throughput is not particularly good (500 Mbit/s) while one CPU core of a modern i7 is maxed out. This is something I've seen in RAWRTC, libwebrtc and Firefox. A year ago, @weinrank, @tuexen and I discussed this in the lab and we briefly ran one of the usrsctp tools which easily achieved 1 Gbit/s. So, I'd suspect it is the particula

[2019-11-05 09:30] shiretu commented on #325
@tuexen I’m currently running my minimal fix, not the elaborated one in #397.

[2019-11-05 13:59] mstyura commented on #245
Not sure if it is what asked, but once it was easy to add I've tried to write a "repro"...

So, I've added a unit test [on top of WebRTC code](https://webrtc-review.googlesource.com/c/src/+/158885) - because `WebRTC` has a public code base with easy to use `API`, so it's easy to create cross-platform examples and share with other people.

The test does ping-pong 1M of 1400 byte long messages betwe

[2019-11-05 18:27] tuexen commented on #245
@mstyura Could you elaborate on the test? So node A sends packets of size 1400 bytes. Node B reflects each received packet. Is that right? Does send Node A only send a packet after receiving one from Node B? Or is node A just sending packets as fast as it can? Do you have a network between the two nodes?

I'm asking this because I would prefer to have a reproducer using the usrsctp API? That way w

[2019-11-05 19:12] mstyura commented on #245
@tuexen

Yes, sure. Feel free to asks more questions about test or WebRTC's integration of usrsctp.

Not exactly, both nodes A  & B sends messages of size 1400 [as fast as they can to each other](https://webrtc.googlesource.com/src/+/7350a902374c796dec8ce583cfaf4b9697f3a525/media/sctp/sctp_transport_reliability_unittest.cc#376).
The sending is done using [`SctpDataSender`](https://webrtc.googlesou

[2019-11-14 10:04] mstyura commented on #325
@tuexen, @peterlei I'm really sorry for bothering. Is there any updates on this? Maybe some offline communication happen between both of you? I'm asking because externally it looks like Peter is not active on github at all according to his profile page, but maybe communication happen in different place... Thanks a lot in advance for answering!

[2019-11-20 19:40] mstyura opened #405 "Send callback is invoked on already closed socket."
**Summary**:
`usrsctp` invokes send callback on socket, which was already closed by user's code.
Typically user code in send callback does some memory access to already freed memory.
This happens due to user's code assumption that send callback is never invoked after socket is closed with `usrsctp_close`.

**Reproduces**:
Sometimes

**Versions**:
I've detected that bug happen on current master, bu

[2019-11-22 15:05] Lastique opened #406 "gcc 9 build fails: taking address may result in an unaligned pointer value"
Building revision 913de35 with gcc 9 on Ubuntu 19.10 fails with the following error:

[code]

[2019-11-25 10:38] anik-kucse opened #407 "Bulid Faild in Manjaro linux"
Making all in usrsctplib
make[1]: Entering directory '/home/anik/Downloads/usrsctp/usrsctplib'
/bin/sh ../libtool  --tag=CC   --mode=compile gcc -DPACKAGE_NAME=\"libusrsctp\" -DPACKAGE_TARNAME=\"libusrsctp\" -DPACKAGE_VERSION=\"0.9.3.0\" -DPACKAGE_STRING=\"libusrsctp\ 0.9.3.0\" -DPACKAGE_BUGREPORT=\"\" -DPACKAGE_URL=\"\" -DPACKAGE=\"libusrsctp\" -DVERSION=\"0.9.3.0\" -DSTDC_HEADERS=1 -DHAVE_SYS_TY

[2019-11-25 21:55] ibc opened #408 "Valgrind reported warnings"
By running an application using usrsctp with Valgrind, here the Valgrind warnings. Probably many of them are not important at all. Anyway:

[code]

[2019-11-25 22:32] tuexen commented on #408
Some of them seem to be related to random number generation, where unitialized values might be used intentionally. Others might be bugs. However, can you provide more information? I think valgrind has some setting to provide more information. Are some reproducers available?

[2019-11-25 22:48] ibc commented on #408
valgrind is already being called with `--leak-check=full --track-fds=yes` options. I'm not aware of more verbosity options.

BTW logs above are obtained using valgrind for OSX. Now I've tested in Linux and got less than those:

[code]

We run the [demo](https://github.com/versatica/mediasoup-demo/) of our [mediasoup](https://mediasoup.org/) project (which uses usrsctp for SCTP/DataChannel support)

[2019-11-26 11:19] weinrank commented on #406
Confirmed, after updating the ubuntu buildbot, we're facing the same problem.

[2019-11-26 21:40] tuexen commented on #408
I think valgrind on MacOS gives more false positives than on Linux. So let's focus on the issue reported on Linux. Could you provide the source code where you call something like `usrsctp_setsockopt(..., IPPROTO_SCTP, SCTP_ENABLE_STREAM_RESET, ..., ...)`. You are providing as the fourth argument a pointer to `struct sctp_assoc_value` and I guess that you are not initializing the `assoc_id` compone

[2019-11-26 22:30] ibc commented on #408
Hi, all the usrsctp related code is [here](https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/SctpAssociation.cpp). And [here](https://github.com/versatica/mediasoup/blob/v3/worker/src/RTC/SctpAssociation.cpp#L166) an example of `usrsctp_setsockopt()`. Indeed I do not initialize `assoc_id` since it's one-to-one style socket (WebRTC DataChannel):

[code]

[2019-11-26 22:51] ibc commented on #408
AFAIS in `stcp_usrreq.c`:

[code]

Such a `SCTP_FIND_STCB` macro is called from `sctp_setopt()` (for instance, in line 5420). The macro evaluates certain values of `inp->sctp_flags` and, if those are not true, it goes to the `else if` block and there it checks `assoc_id` which, indeed, it's not set. So here the possible bug.

`inp` is declared at the beginning of `sctp_setopt()` as follows:

[code

[2019-11-27 08:38] alvestrand commented on #325
@tuexen @peterlei would VERY MUCH like response from someone who has commit rights to this repo.

As shampson mentioned in August, this is blocking integration of newer versions of SCTP into WebRTC and Chrome.

[2019-11-27 09:58] tuexen commented on #325
@peterlei said in an email exchange with some Google folks that he will be reviewing #397 during the Thanksgiving timeframe.

[2019-11-27 15:01] tuexen commented on #407
This is a duplicate of #406

[2019-11-27 16:32] tuexen commented on #408
The above code is correct, I think.

Could you replace https://github.com/sctplab/usrsctp/blob/master/usrsctplib/netinet/sctp_usrreq.c#L5425:
[code]
by
[code]
and retest if this fixes this issue?

[2019-11-27 23:58] ibc commented on #408
Confirmed that, with those changes applied, the valgrind Linux warnings no longer happen :)

[2019-11-28 08:38] tuexen commented on #408
Thanks for testing and providing feedback. Working on a fix.

[2019-11-28 09:24] mstyura commented on #405
I've finally completed bisect to find out the commit which introduced invocation of send callback on closed socket.
The commit is: https://github.com/sctplab/usrsctp/commit/6bafb12aa5c6cd7019bf0dde5a7af490cd336a8a
I'm attaching `git bisect log` with my comments, so anyone could also reproduce/replay bisect.
<details>

<summary>view bisect.log (can be replayed with `git bisect replay < bisect.log`)

[2019-11-28 12:57] tuexen commented on #408
https://github.com/sctplab/usrsctp/commit/16163a34b345fe835765d446345d1609fc8b85ec fixes this issue.

[2019-11-28 12:57] #408 closed

[2019-11-28 13:15] ibc commented on #408
Thanks!

[2019-12-08 16:41] YijinLiu commented on #325
Any update? Still nobody reviewing @mstyura 's change..

[2019-12-09 22:15] androidpdn opened #410 "usrsctp in Windows 8 stop sending data when calling usrsctp_sendv() mulitple times in for loop."
Hi,
I built the usrsctp using Visual Studio 2019 on 64bits Windows 8, and modified the client.c file to send a fixed 5 bytes buffer multiple times in a for loop.
The client is connected to a Linux server running usrsctp echo server.

Depending on the number of loops, the usrsctp behaves differently.
E.g. if I make it loop for 50 times, i.e. calling usrsctp_sendv() 50 times to send the fixed 5 byte

[2019-12-15 00:49] aleb opened #411 "have_sconn_len always set to false"
Meson always sets `have_sconn_len` to false because it the generated C file does not build because the prefix specified to include file "usrsctp.h" and it cannot be found:

[code]

[2019-12-15 17:12] mstyura commented on #325
Hello @tuexen, sorry for bothering you again and again. I just wanted to ask if there is any other option to get #397 merged other than receiving Peter's review? So far Peter haven't had time to review PR and probably wouldn't be able to review any time soon. I'm asking for any possible (and impossible :)) option, because an application I'm working on suffers either from this deadlock when recent

[2019-12-15 19:41] tuexen commented on #325
@mstyura I was hoping to Peter to review this path, since he spent already some time to understand the problem. So I was assuming that he could easily decide if your patch fixes the problem.

I think we can't assume that this is happening soon.

Could you elaborate why you need a different data structure to fix the issue? I would like to understand whether changing the data structure is a performa

[2019-12-16 09:37] mstyura commented on #325
@tuexen currently I believe that new data structure is not crucial to fix deadlock issue.

When I've started investigation and fixing the issue I though that it was caused by error in tricky state manipulation caused by using doubly linked list: it necessary to correctly update `sctp_os_timer_next` in `sctp_os_timer_start`, `sctp_os_timer_stop` and `sctp_handle_tick`.
Usage of linked binary heap t

[2019-12-16 10:33] tuexen commented on #325
I'm fine with accepting a fix (of course) and the binary heap eventually. What I want to understand is:

- What is the condition resulting in a deadlock you want to fix.
- How do you fix it.

If possible, I would like to understand it compared to run a set of tests showing that the problem does not occur anymore. The test is really appreciated, but in addition I would like to understand the fix.

[2019-12-16 12:01] mstyura commented on #325
@tuexen

Timer is cancelled via `sctp_os_timer_stop`, while it is actually executing by `SCTP Timer` thread. It causes `sctp_os_timer_stop` to wait until timers completion. Timer completion is never happen, because timer's callback itself waits for mutex, captured by thread invoked `sctp_os_timer_stop`.
More details of the problem is provided in description to #397 (I've hidden all outdated commen

[2019-12-16 16:08] sancane opened #414 "sctp deadlock"
Hi,
I come across a situation where the whole stack gets locked when trying to get the lock of an sctp_tcb structure. Having a look at the trace it looks like there is a sctp_tcb structure whose mutex is locked and never unlocked so any attemp to get the mutex later on ends up locking the thread causing a deadlock in the stack.
I've been trying to follow all usages of above structure in the code t

[2019-12-16 17:40] mstyura commented on #414
@sancane from the thread backtraces you've provided I can conclude that you've encountered the bug #325. I've proposed fix for it in PR #397, but it's not yet reviewed and merged. But the process of review is started as I understand.
It would be really helpful if you could check and confirm that version from branch related to #397 fixes issue for you. Thanks a lot in advance!

[2019-12-17 12:54] sancane commented on #414
I'll give it a try, but it will take me time until i could set it in prod. I'll let you know once we test it

[2019-12-17 21:08] taylor-b commented on #325
I just finished getting myself mostly up to speed on this issue. (For those who don't know me, I used to work on WebRTC/usrsctp integration)

I may be overlooking something, but I don't quite see how #397 fixes the problem. I have no doubt that switching to the heap has benefits, but it doesn't seem to make any difference with regards to the race condition/deadlock. As far as I can tell, the "use

[2019-12-17 21:13] stewrtrs commented on #325
This seems like a reasonable suggestion to me :)

But I am just a back-bencher here… the kernel stack in FreeBSD uses
just such an approach..

R

------
Randall Stewart
rrs@netflix.com

[2019-12-17 22:33] mstyura commented on #325
@taylor-b thank you very much for having a look at the issue!

Yes! Could you please try your approach and send PR with a fix?

[2019-12-18 08:54] tuexen commented on #325
@taylor-b
Your considerations make sense to me. Please go ahead and provide a PR. This is very appreciated.

[2019-12-18 19:07] natashenka opened #415 "How do I report security issues in usrsctp?"
Is it okay of I put them in this tracker, even though it's public, or can they be reported some other way?

[2019-12-18 20:18] tuexen commented on #415
You can report it here or send it to me privately (tuexen@fh-muenster.de). Up to you.

[2019-12-31 11:41] apatole opened #416 "High round trip times during packet loss?"
Hello, I have been experimenting with USRSCTP and observed that round trip times under packet loss are on higher side as compared to similar libraries like Enet, not sure if it is an issue or expected behavior so just want to confirm. Below are details:
1. I have client server test app. Client just keeps sending packets to server, server on receiving resends packets. Client on receiving packets ba

[2019-12-31 14:12] tuexen commented on #416
Can you provide a .pcap file from the sender side covering the 50 ms network outage?

[2020-01-02 08:41] apatole commented on #416
@tuexen Thanks for quick response. Attaching .pcap file.
[usrsctp_wireshark_dump_undep_packet_loss.zip](https://github.com/sctplab/usrsctp/files/4015282/usrsctp_wireshark_dump_undep_packet_loss.zip)

Test was run for 1 minute. And packet loss simulation model is - after every 5secs there is 100% packets loss for 50msec. Thanks.

[2020-01-02 16:36] alnet82 commented on #245
@mstyura
I followed your steps and when running the test, it stucks:
[code]
Any idea?

[2020-01-02 17:33] mstyura commented on #245
@alnet82 thanks for reporting an issue! Which version of `usrsctp` you are using? If you are using any `usrsctp` version from https://github.com/sctplab/usrsctp/commit/a7c290275a0f8a164c132396b34f46e295c193f7 to latest master (https://github.com/sctplab/usrsctp/commit/d20e74938a5dffc49961b2dcf89779c2ee7916a1) you are almost `100%` encountered deadlock issue #325. To make the throughput test run to

[2020-01-02 20:01] alnet82 commented on #245
@mstyura Thanks for the guidance. I got worse result with your PR:
`(sctp_transport_reliability_unittest.cc:514): SctpPingPong id = 1 is done receiver 1: 1400000000 bytes received, average speed = 2118.56 Kilobytes/sec, receiver 2: 1400000000 bytes received, average speed = 2003.61 Kilobytes/ses`

Moreover, I see many `EWOULDBLOCK` messages during the test:
`(sctp_transport.cc:634): sctp transport

[2020-01-02 23:27] taylor-b commented on #325
Sorry for the delay. Ran into a small wrinkle but I think I have something that works, just need to do some more testing.

[2020-01-03 08:33] mstyura commented on #245
@alnet82 could you please also try compile throughput benchmark in debug? For some reason (I've not investigated why) I've observed much higher throughput in debug builds compared to release builds on Linux.

(sctp_transport.cc:634): sctp transport 1->SendMessageInternal(...): EWOULDBLOCK returned

I've played a bit with changing default `usrsctp` settings in [library initialization code](https://

[2020-01-04 07:29] alnet82 commented on #245
@mstyura I can confirm your findings.
- Without debug, original init: 2118.56 Kilobytes/sec
- With debug, original init: 27005.1 Kilobytes/sec
- With debug, custom init: 31412 Kilobytes/sec
- Without debug, custom init: 56659.5 Kilobytes/sec

For custom init, I used your suggested settings:
`usrsctp_sysctl_set_sctp_sendspace(32 * 256 * 1024); // 256K is default setting
usrsctp_sysctl_set_sctp_recv

[2020-01-07 12:26] apatole commented on #416
Any updates on this? thanks.

[2020-01-09 05:57] apatole commented on #416
Few more details:
Messages are being sent at 8ms interval. I tried to analyse above wireshark dump. I see re-transmission of packets for which SACK is not received, is started once SACKs are received for few sent data chunks after network outage. I thought it would be just after receiving first SACK after network outage.

[2020-01-09 06:30] apatole commented on #416
Here is .pcap with latest usrsctp. Earlier one was with old usrsctp version.
[wireshark_capture_latest_usrsctp_under_network_loss.zip](https://github.com/sctplab/usrsctp/files/4038894/wireshark_capture_latest_usrsctp_under_network_loss.zip)

Retransmission starts bit late which can be observed from lines like below from .pcap:
...
                [Expert Info (Note/Sequence): Retransmitted TSN]

[2020-01-09 11:32] apatole commented on #416
After looking more into the issue, I see that packets are re-transmitted only after receiving three SACKs  everytime, can be observed in .pcap. And this looks expected behavior as per the spec (https://tools.ietf.org/html/rfc4960#section-7.2.4):

"
...Whenever an endpoint receives a SACK that indicates that some TSNs
   are missing, it SHOULD wait for two further miss indications (via
   subsequen

[2020-01-09 13:00] tuexen commented on #416
Sorry for taking some time... Yes, this is expected behaviour. You are sending approximately a message every 8 ms. So after 50 ms, you need to approximately 2.5 times 8 ms, which is 20 ms plus an RTT of 1 ms before the sender got three gap reports and retransmits everything. This gives a time of about 70 ms.

@weinrank is experimenting with a different loss recovery algorithm, which is RACK for SC

[2020-01-09 19:56] taylor-b commented on #325
Okay, here's what I have: https://github.com/sctplab/usrsctp/pull/417

The issue I ran into is that I couldn't deal with the reference counts in SCTP_OS_TIMER_START/STOP because they don't have access to the timer structure, and are defined as something different in freebsd.

But this means that all existing calls of SCTP_OS_TIMER_STOP need to be replaced by sctp_timer_stop. Not really a huge deal

[2020-01-10 02:02] somtin opened #418 "usrSCTP discards COOKIE_ECHO when INIT happens on existing address"
I'm using usrSCTP with AF_CONN, and if the client disappears without closing the connection, and tries to reconnect, it doesn't always work. The source address of the packets arriving into usrsctp refer to the same context object, and so the INIT gets handled with the same stcb.

Most of the time (especially when trying to reconnect immediately after killing the application), it works fine. Howeve

[2020-01-10 12:34] apatole commented on #416
Ok, thanks Michael for confirmation. I will keep watching this repo for new recovery algorithm.

[2020-01-10 15:12] tuexen commented on #416
OK, closing the issue.

[2020-01-10 15:12] #416 closed

[2020-01-10 15:12] #415 closed

[2020-01-10 15:12] tuexen commented on #411
Fixed, therefore closing the issue.

[2020-01-10 15:12] #411 closed

[2020-01-10 20:45] mstyura commented on #325
@taylor-b could you please clarify a bit on this? If I remember correctly I've seen invocation of [`sctp_os_timer_start`](https://github.com/sctplab/usrsctp/blob/49dea54aef5f6994bed75d3214b8ade1b971f293/usrsctplib/netinet/sctp_callout.c#L109) after invocation [`sctp_os_timer_stop`](https://github.com/sctplab/usrsctp/blob/49dea54aef5f6994bed75d3214b8ade1b971f293/usrsctplib/netinet/sctp_callout.c#L1

[2020-01-10 21:22] taylor-b commented on #325
@mstyura Sure, here's a possible sequence of events:

1. `sctp_remove_net` called.
2. Even after stopping all timers for that net, reference count is nonzero because a currently executing callout (or something else) holds a reference.
3. Before that reference is released, a new timer is started.
4. Reference released. But because the timer holds a reference, the reference count is still non-zero a

[2020-01-13 12:06] rohitash123456 commented on #406
still i am getting this issue in linux

Scanning dependencies of target usrsctp-static
[  1%] Building C object usrsctplib/CMakeFiles/usrsctp-static.dir/netinet/sctp_input.c.o
/home/rohitash/usrsctp/usrsctplib/netinet/sctp_input.c: In function ‘sctp_handle_stream_reset_response’:
/home/rohitash/usrsctp/usrsctplib/netinet/sctp_input.c:3886:62: error: taking address of packed member of ‘struct sctp_

[2020-01-14 18:14] mstyura commented on #325
@taylor-b I've successfully ran to completion [stress test](https://webrtc.googlesource.com/src/+/3d4d94a83217b6ef48ebf46f8c80f2379dd70113/media/sctp/sctp_transport_reliability_unittest.cc#747) (`18` times in total) against `usrsctp` version from #417. I haven't observed deadlock (problematic conditional variable were removed). I haven't observed other crashes. It seems that even #405 (maybe I was

[2020-01-15 03:17] taylor-b commented on #325
@mstyura I don't think my PR would have fixed #405, since it doesn't change how `sctp_timeout_handler` interacts with the socket at all. My guess is that my PR changed the timing slightly and made it less likely, or you just got lucky.

[2020-01-15 14:13] mstyura commented on #325
@taylor-b inability to reproduce #405 on your branch came from the fact that I've executed this test `18` times without `ASAN` enabled. On release build with `ASAN`  #405 reproduced in 3 runs.

[2020-01-21 05:23] apatole commented on #416
@weinrank  @tuexen , one quick question, do we have any doc/spec describing new loss recovery algorithm, RACK for SCTP. Or it is same as RACK for TCP.

[2020-01-21 06:24] stewrtrs commented on #416
Having implemented Rack for TCP and having
a small bit of knowledge left on SCTP, I would expect the
Rack document should apply exactly. If
not I would ask the implementor why not?

R

------
Randall Stewart
rrs@netflix.com

[2020-01-21 07:24] tuexen commented on #416
@weinrank wrote a paper about, which is under review and therefore not publically available. We are considering putting up an Internet Draft which describes how to use RACK in combination with SCTP.

[2020-01-21 11:43] apatole commented on #416
Thanks @stewrtrs , @tuexen.

[2020-01-21 12:04] stewrtrs commented on #416
Let us know when the paper is out.. I would love
to read it :)

R

------
Randall Stewart
rrs@netflix.com

[2020-01-21 12:16] weinrank commented on #416
@apatole are you interested in a specific part of RACK for SCTP or generally interested?

[2020-01-22 14:17] weinrank commented on #410
Hi @androidpdn,

can you provide the sample program?

Best
Felix

[2020-01-24 09:19] apatole commented on #416
@weinrank Generally interested as it seems re-transmission times for packets would decrease with this.

With current 3 SACKs based recovery algorithm, it looks bit unsuitable for use cases where we want lowers RTTs.

[2020-01-27 15:56] philn commented on #136
Yes please publish a new release. I currently (try to) rely on git master but I noticed a forced git push was performed recently... Please try to avoid those, at least.

[2020-01-27 16:57] tuexen commented on #136
I'm normally only doing squash and merge. Do you have an example what should not be done?

[2020-01-27 17:02] philn commented on #136
`git push --force` should be avoided at all cost. The thumb rule usually is that for public repositories, once you push on a well-known branch (such as master), a force-push should not be allowed.

OTOH, for pull-requests it's totally fine to force-push branches. I often do it after rebasing my local changes on top of the latest changes from master, for instance.

I personally don't like merge com

[2020-01-27 18:02] tuexen commented on #136
I don't think I have done a `git push --force`. So could you point me to a commit, which should have been avoided?

[2020-01-28 10:44] philn commented on #136
And another force update...
[code]

[2020-01-28 10:57] philn commented on #136
My apologies, I had the flatpak build manifest for this lib mis-configured :)

[2020-01-28 20:26] tuexen commented on #136
Will make a release once a couple of issues have been sorted out. Leaving this open until then.

[2020-01-28 22:12] jonassmedegaard commented on #136
Quoting Michael Tüxen (2020-01-28 21:26:09)

Great!  Thanks for your work on this!

 - Jonas

--
 * Jonas Smedegaard - idealist & Internet-arkitekt
 * Tlf.: +45 40843136  Website: http://dr.jones.dk/

 [x] quote me freely  [ ] ask before reusing  [ ] keep private

[2020-01-29 16:32] alnet82 commented on #245
I'm trying to improve SCTP performance by disabling flow control and reliability (bring it as much as possible to UDP). Any idea what params should I tweak?
Meanwhile I set:
`usrsctp_sysctl_set_sctp_sendspace(2*32 * 256 * 1024);`
`usrsctp_sysctl_set_sctp_recvspace(2*32 * 256 * 1024);`
`usrsctp_sysctl_set_sctp_max_chunks_on_queue(2*32 * 512);`
`usrsctp_sysctl_set_sctp_nrsack_enable(true);`
`usrsctp

[2020-01-29 18:16] tuexen commented on #245
I think disabling flow control and congestion control is a bad idea.
If you experience a performance you think is not adequate, could you say what is limiting you?
Are you limited by the flow control (and the receiver is not limited by the CPU) or are you limited by the CPU on the sender side or are you limited by something else?

[2020-02-02 06:32] alnet82 commented on #245
@tuexen I'm saturating the buffers on send, but I don't see 100% CPU. In my tests, if I increase the RTT between the nodes, I get worse results compared to UDP. That's why I suspect the flow control.